In [1]:
import requests
from time import sleep
import json
from random import shuffle
import pandas as pd
from pathlib import Path

In [2]:
def get_TFBS_data(scaffold):
    info=[]
    i=1
    while True:
        json_url = f"https://jbrowse.echinobase.org/JBrowse/data/sp5_0/tracks/TFBS/{scaffold}/lf-{i}.json"
        resp = requests.get(url=json_url)
        if(resp.ok):
            data = resp.json()
            info.extend([{"chr":f"scaffold{scaffold}","start":el[1],"end":el[2]} for el in data])
        else:
            print("done")
            print(i)
            return(info, i)
        sleep(0.2)
        i=i+1

In [3]:
temp, maxi=get_TFBS_data("NW_022145533.1")

done
61

In [5]:
df = pd.DataFrame(temp)

In [15]:
def get_lift_data(scaffold):
    info=[]
    json_url = f"https://jbrowse.echinobase.org/JBrowse/data/sp5_0/tracks/sp3_1_lift/{scaffold}/trackData.json"
    resp = requests.get(url=json_url)
    if(resp.ok):
        data = resp.json()
        info.extend([{"chr":f"scaffold{scaffold}","start":el[1],"end":el[2]} for el in data["intervals"]["nclist"]])
    else:
        print("error")
    
    return(info)

In [16]:
temp=get_lift_data("NW_022145533.1")

In [18]:
df = pd.DataFrame(temp)

In [19]:
df

                      chr   start     end
0  scaffoldNW_022145533.1   26618   29611
1  scaffoldNW_022145533.1   61927   64527
2  scaffoldNW_022145533.1   64864   65890
3  scaffoldNW_022145533.1   72069   77036
4  scaffoldNW_022145533.1   78383   95268
5  scaffoldNW_022145533.1  105952  113069
6  scaffoldNW_022145533.1  272309  283386