In [1]:
import pandas as pd
from collections import Counter
from matplotlib import pyplot
import numpy as np

In [292]:
df = pd.read_csv('all_annotations.txt', sep="\t", header=None, names=["chr","source","type","start","stop","s1","s2","s3","info"])

In [293]:
df.drop(df[df['type'] == "region"].index, inplace = True)

In [294]:
df.type.unique()

array(['gene', 'mRNA', 'exon', 'CDS', 'snRNA', 'pseudogene', 'cDNA_match',
       'tRNA', 'lnc_RNA', 'transcript', 'snoRNA', 'rRNA',
       'primary_transcript', 'miRNA', 'sequence_feature', 'tandem_repeat',
       'promoter'], dtype=object)

In [295]:
df['info'] = df['info'].str.replace(',',';')

In [296]:
df.s2.unique()

array(['+', '-'], dtype=object)

In [7]:
loci = pd.read_csv('top_goodhe_01', header=None, names=["chr","fst"])

In [8]:
loci

                          chr     fst
0       NW_022145599.1_809765  0.2058
1     NW_022145613.1_22684111  0.1950
2     NW_022145600.1_36849648  0.1883
3     NW_022145612.1_13121687  0.1882
4     NW_022145595.1_20882520  0.1873
...                       ...     ...
6842  NW_022145597.1_27269202  0.1000
6843  NW_022145597.1_25996126  0.1000
6844  NW_022145596.1_12214610  0.1000
6845   NW_022145595.1_3170334  0.1000
6846  NW_022145595.1_16380245  0.1000

[6847 rows x 2 columns]

In [ ]:
# if just looking at also high bayenv

In [297]:
hbay = pd.read_csv('high_bayenv.csv', header=None, sep='\t',names=["index","ave","chr","fst","pos","ch_num","idx","log_bf"])

In [298]:
hbay["comb"]=hbay["chr"] +"_"+ hbay["pos"]

In [299]:
hbay

,index,ave,chr,fst,pos,ch_num,idx,log_bf,comb
0,index,ave,chr,fst,pos,ch_num,idx,log_bf,chr_pos
1,6804,9.470158600000001,NW_022145612.1,0.1,757345,1,668,0.9763572523430892,NW_022145612.1_757345
2,6818,2.86165,NW_022145611.1,0.1,36506506,2,1348,0.4566165153902805,NW_022145611.1_36506506
3,6840,1.2448080000000001,NW_022145599.1,0.1,23380763,7,3359,0.09510237073228703,NW_022145599.1_23380763
4,6769,1.686525,NW_022145601.1,0.1001,22443666,12,4661,0.22699278328482644,NW_022145601.1_22443666
...,...,...,...,...,...,...,...,...,...
249,100,1.213802,NW_022145603.1,0.1553,26343419,17,5999,0.08414784874865514,NW_022145603.1_26343419
250,96,1.3058999999999998,NW_022145599.1,0.1562,23070922,7,3375,0.1159099218770607,NW_022145599.1_23070922
251,32,46.59352199999999,NW_022145615.1,0.1668,25383710,4,2233,1.668325539968573,NW_022145615.1_25383710
252,17,1.4565804000000002,NW_022145598.1,0.1732,416271,16,5673,0.16333446171524763,NW_022145598.1_416271
253,1,1.036662,NW_022145613.1,0.195,22684111,3,1852,0.015637179279383465,NW_022145613.1_22684111

In [300]:
loci=hbay[["comb","fst"]].copy()

In [301]:
loci=loci.drop(loci.index[0])

In [302]:
loci["chr"]=loci["comb"]

In [303]:
loci

                        comb     fst                      chr
1      NW_022145612.1_757345     0.1    NW_022145612.1_757345
2    NW_022145611.1_36506506     0.1  NW_022145611.1_36506506
3    NW_022145599.1_23380763     0.1  NW_022145599.1_23380763
4    NW_022145601.1_22443666  0.1001  NW_022145601.1_22443666
5    NW_022145615.1_23388979  0.1001  NW_022145615.1_23388979
..                       ...     ...                      ...
249  NW_022145603.1_26343419  0.1553  NW_022145603.1_26343419
250  NW_022145599.1_23070922  0.1562  NW_022145599.1_23070922
251  NW_022145615.1_25383710  0.1668  NW_022145615.1_25383710
252    NW_022145598.1_416271  0.1732    NW_022145598.1_416271
253  NW_022145613.1_22684111   0.195  NW_022145613.1_22684111

[253 rows x 3 columns]

In [9]:
#t=loci.chr.to_numpy()
#chrs=[i.split("_")[:2] for i in t ]
#chrs =["_".join(i) for i in chrs]
#pos=[i.split("_")[2] for i in t ]
#fixed_loci = pd.DataFrame(list(zip(chrs, pos)), columns =['chr', 'pos'])
#np.savetxt("fixed_loci.csv", t, delimiter=',', fmt="%s")

#---------------------------------------

In [304]:
new_df=pd.DataFrame()
for index, row in loci.iterrows():
    ch = row[0].split("_")[:2]
    ch = "_".join(ch)
    pos = int(row[0].split("_")[2])
    temp=df[(df['chr']==ch) & (df['start']<=pos) & (df['stop']>=pos)]
    if len(temp) == 0:
        #print("not in annotation")
        new_df = new_df.append({'chr' : ch, 'pos' : pos, 'hol' : "not_annot", "gene" : "NA"},  
                        ignore_index = True) 
    if len(temp) == 1:
        print("only one")
        print(temp['type'])
    if len(temp) > 1:
        #print("more than 1")
        #checking for gene overlap
        ids=[]
        for i in range(len(temp)):
            t=temp["info"].iloc[i].split(";")
            res = list(filter(lambda x: "LOC" in x, t))
            if len(res) == 0:
                res = list(filter(lambda x: "GeneID:" in x, t))
                if len(res) != 0:
                    ID = res[0].split("GeneID:",1)[1]
                    ids.append(ID)
                #else:
                    #print(temp["type"].iloc[i])
                    #if temp["type"].iloc[i] == "cDNA_match":
                        #print("cDNA_match")
                    #else:
                        #print("what about ids???")
                        #print(t)
            else:
                ID =res[0].split("LOC",1)[1]
                ids.append(ID)
        uni=len(Counter(ids))
        gene_name = ids[0]
        if uni > 1:
            #print("genes overlap")
            new_df = new_df.append({'chr' : ch, 'pos' : pos, 'hol' : "genes_overlap", "gene": "NA"},  
                        ignore_index = True) 
        
        if uni == 1:
            if temp['type'].str.contains('gene').any():
                if temp['type'].str.contains('pseudogene').any():
                    new_df = new_df.append({'chr' : ch, 'pos' : pos, 'hol' : "pseudogene", "gene":"NA" },ignore_index = True)
                # snRNA, tRNA, lnc_RNA, snoRNA, rRNA, miRNA also have line with "gene"
                elif temp['type'].str.contains('snRNA').any():
                    new_df = new_df.append({'chr' : ch, 'pos' : pos, 'hol' : "snRNA", "gene":ids[0] },ignore_index = True)
                elif temp['type'].str.contains('tRNA').any():
                    new_df = new_df.append({'chr' : ch, 'pos' : pos, 'hol' : "tRNA", "gene":ids[0] },ignore_index = True)
                elif temp['type'].str.contains('lnc_RNA').any():
                    new_df = new_df.append({'chr' : ch, 'pos' : pos, 'hol' : "lnc_RNA", "gene":ids[0] },ignore_index = True)
                elif temp['type'].str.contains('snoRNA').any():
                    new_df = new_df.append({'chr' : ch, 'pos' : pos, 'hol' : "snoRNA", "gene":ids[0] },ignore_index = True)
                elif temp['type'].str.contains('rRNA').any():
                    new_df = new_df.append({'chr' : ch, 'pos' : pos, 'hol' : "rRNA", "gene":ids[0] },ignore_index = True)
                elif temp['type'].str.contains('miRNA').any():
                    new_df = new_df.append({'chr' : ch, 'pos' : pos, 'hol' : "miRNA", "gene":ids[0] },ignore_index = True)
                else:
                    if temp['type'].str.contains('exon').any(): 
                        if temp['type'].str.contains('CDS').any():
                            #print("in exon")
                            new_df = new_df.append({'chr' : ch, 'pos' : pos, 'hol' : "exon", "gene":f"LOC{ids[0]}" },ignore_index = True) 
                        else:
                            direction=temp['s2'].iloc[0]
                            e_start=temp[temp["type"]=="exon"].iloc[0].start
                            e_stop=temp[temp["type"]=="exon"].iloc[0].stop
                            g_start=temp[temp["type"]=="gene"].iloc[0].start
                            g_stop=temp[temp["type"]=="gene"].iloc[0].stop
                            if direction == "+":
                                if e_start == g_start:
                                    #print('5prime1')
                                    new_df = new_df.append({'chr' : ch, 'pos' : pos, 'hol' : "5'UTR", "gene":f"LOC{ids[0]}" },ignore_index = True) 
                                elif e_stop == g_stop:
                                    #print("3prime1")
                                    new_df = new_df.append({'chr' : ch, 'pos' : pos, 'hol' : "3'UTR", "gene":f"LOC{ids[0]}" },ignore_index = True) 
                                else:
                                    print(index) #alternative UTR?
                                    #print(temp)
                                    new_df = new_df.append({'chr' : ch, 'pos' : pos, 'hol' : "alternative UTR", "gene":"NA" },ignore_index = True) 
                            elif direction == "-":
                                if e_start == g_start:
                                    #print('3prime2')
                                    new_df = new_df.append({'chr' : ch, 'pos' : pos, 'hol' : "3'UTR", "gene":f"LOC{ids[0]}" },ignore_index = True) 
                                elif e_stop == g_stop:
                                    #print("5prime2")
                                    new_df = new_df.append({'chr' : ch, 'pos' : pos, 'hol' : "5'UTR", "gene":f"LOC{ids[0]}" },ignore_index = True)
                                else:
                                    #print("ERROR2")
                                    new_df = new_df.append({'chr' : ch, 'pos' : pos, 'hol' : "alternative UTR", "gene":"NA" },ignore_index = True) 
                            else:
                                print(index)
                                #print(temp)

                    else:
                        #print("in intron")
                        new_df = new_df.append({'chr' : ch, 'pos' : pos, 'hol' : "intron", "gene":f"LOC{ids[0]}" },ignore_index = True) 

            else:
                print("not gene")

76
96

In [305]:
overl = new_df[new_df['hol']=="genes_overlap"]

In [306]:
overl

                chr gene            hol         pos
202  NW_022145614.1   NA  genes_overlap  18968401.0

In [307]:
new_df2=pd.DataFrame()
for index, row in overl.iterrows():
    ch = row.chr
    pos = int(row.pos)
    temp=df[(df['chr']==ch) & (df['start']<=pos) & (df['stop']>=pos)]
    if len(temp) == 0:
        #print("not in annotation")
        new_df2 = new_df2.append({'chr' : ch, 'pos' : pos, 'hol' : "not_annot", "gene" : "NA"},  
                        ignore_index = True) 
    if len(temp) == 1:
        print("only one")
        print(temp['type'])
    if len(temp) > 1:
        #print("more than 1")
        #checking for gene overlap
        ids=[]
        for i in range(len(temp)):
            t=temp["info"].iloc[i].split(";")
            res = list(filter(lambda x: "LOC" in x, t))
            if len(res) == 0:
                res = list(filter(lambda x: "GeneID:" in x, t))
                if len(res) != 0:
                    ID = res[0].split("GeneID:",1)[1]
                    ids.append(ID)
                #else:
                    #print(temp["type"].iloc[i])
                    #if temp["type"].iloc[i] == "cDNA_match":
                        #print("cDNA_match")
                    #else:
                        #print("what about ids???")
                        #print(t)
            else:
                ID =res[0].split("LOC",1)[1]
                ids.append(ID)
        uni=len(Counter(ids))
        all_loc=Counter(ids)
    
        for i in all_loc:
            #print(i) #gets loci names
            gt=df[(df['chr']==ch) & (df['start']<=pos) & (df['stop']>=pos) & (df['info'].str.contains(i)) ]
            if gt['type'].str.contains('gene').any():
                if gt['type'].str.contains('pseudogene').any():
                    new_df2 = new_df2.append({'chr' : ch, 'pos' : pos, 'hol' : "pseudogene", "gene":"NA" },ignore_index = True)
                # snRNA, tRNA, lnc_RNA, snoRNA, rRNA, miRNA also have line with "gene"
                elif gt['type'].str.contains('snRNA').any():
                    new_df2 = new_df2.append({'chr' : ch, 'pos' : pos, 'hol' : "snRNA", "gene":i },ignore_index = True)
                elif gt['type'].str.contains('tRNA').any():
                    new_df2 = new_df2.append({'chr' : ch, 'pos' : pos, 'hol' : "tRNA", "gene":i },ignore_index = True)
                elif gt['type'].str.contains('lnc_RNA').any():
                    new_df2 = new_df2.append({'chr' : ch, 'pos' : pos, 'hol' : "lnc_RNA", "gene":i },ignore_index = True)
                elif gt['type'].str.contains('snoRNA').any():
                    new_df2 = new_df2.append({'chr' : ch, 'pos' : pos, 'hol' : "snoRNA", "gene":i },ignore_index = True)
                elif gt['type'].str.contains('rRNA').any():
                    new_df2 = new_df2.append({'chr' : ch, 'pos' : pos, 'hol' : "rRNA", "gene":i },ignore_index = True)
                elif gt['type'].str.contains('miRNA').any():
                    new_df2 = new_df2.append({'chr' : ch, 'pos' : pos, 'hol' : "miRNA", "gene":i },ignore_index = True)
                else:
                    if gt['type'].str.contains('exon').any(): 
                        if gt['type'].str.contains('CDS').any():
                            #print("in exon")
                            new_df2 = new_df2.append({'chr' : ch, 'pos' : pos, 'hol' : "exon", "gene":f"LOC{i}" },ignore_index = True) 
                        else:
                            direction=gt['s2'].iloc[0]
                            e_start=gt[gt["type"]=="exon"].iloc[0].start
                            e_stop=gt[gt["type"]=="exon"].iloc[0].stop
                            g_start=gt[gt["type"]=="gene"].iloc[0].start
                            g_stop=gt[gt["type"]=="gene"].iloc[0].stop
                            if direction == "+":
                                if e_start == g_start:
                                    #print('5prime1')
                                    new_df2 = new_df2.append({'chr' : ch, 'pos' : pos, 'hol' : "5'UTR", "gene":f"LOC{i}" },ignore_index = True) 
                                elif e_stop == g_stop:
                                    #print("3prime1")
                                    new_df2 = new_df2.append({'chr' : ch, 'pos' : pos, 'hol' : "3'UTR", "gene":f"LOC{i}" },ignore_index = True) 
                                else:
                                    print(index) #alternative UTR?
                                    #print(gt)
                                    new_df2 = new_df2.append({'chr' : ch, 'pos' : pos, 'hol' : "alternative UTR", "gene":"NA" },ignore_index = True) 
                            elif direction == "-":
                                if e_start == g_start:
                                    #print('3prime2')
                                    new_df2 = new_df2.append({'chr' : ch, 'pos' : pos, 'hol' : "3'UTR", "gene":f"LOC{i}" },ignore_index = True) 
                                elif e_stop == g_stop:
                                    #print("5prime2")
                                    new_df2 = new_df2.append({'chr' : ch, 'pos' : pos, 'hol' : "5'UTR", "gene":f"LOC{i}" },ignore_index = True)
                                else:
                                    #print("ERROR2")
                                    new_df2 = new_df2.append({'chr' : ch, 'pos' : pos, 'hol' : "alternative UTR", "gene":"NA" },ignore_index = True) 
                            else:
                                print(index)
                                #print(gt)

                    else:
                        #print("in intron")
                        new_df2 = new_df2.append({'chr' : ch, 'pos' : pos, 'hol' : "intron", "gene":f"LOC{i}" },ignore_index = True) 

            else:
                print("not gene")

In [308]:
new_df.pos = new_df.pos.astype(int)
new_df2.pos = new_df2.pos.astype(int)

In [102]:
new_df.to_csv("annotated_top_goodhe_01.csv",index=False)

In [103]:
new_df2.to_csv("annotated_top_goodhe_01_overlap.csv",index=False)

In [309]:
len(new_df[new_df["hol"]=="not_annot"])

111

#---------------------------------------

In [456]:
new_df = pd.read_csv('annotated_top_goodhe_01.csv')
new_df2 = pd.read_csv('annotated_top_goodhe_01_overlap.csv')

In [457]:
promoters = pd.read_csv('all_annotations.txt', sep="\t", header=None, names=["chr","source","type","start","stop","s1","s2","s3","info"])
#promoters = promoters[promoters['type']=="gene"]

promoters.drop(promoters[promoters['type'] == "region"].index, inplace = True)


imp_list=["gene","snRNA", "tRNA", "lnc_RNA", "snoRNA", "rRNA", "miRNA"]
for l in imp_list:
    promoters.loc[(promoters["type"]==l) & (promoters["s2"]=="+"), "start"] -= 1000
    promoters.loc[(promoters["type"]==l) & (promoters["s2"]=="-"), "stop"] += 1000

promoters['info'] = promoters['info'].str.replace(',',';')

In [458]:
mis = new_df[new_df['hol']=="not_annot"]

In [459]:
mis

                 chr gene        hol       pos
0     NW_022145599.1  NaN  not_annot    809765
1     NW_022145613.1  NaN  not_annot  22684111
2     NW_022145600.1  NaN  not_annot  36849648
3     NW_022145612.1  NaN  not_annot  13121687
4     NW_022145595.1  NaN  not_annot  20882520
...              ...  ...        ...       ...
6839  NW_022145600.1  NaN  not_annot  16153542
6840  NW_022145599.1  NaN  not_annot  23380763
6842  NW_022145597.1  NaN  not_annot  27269202
6843  NW_022145597.1  NaN  not_annot  25996126
6845  NW_022145595.1  NaN  not_annot   3170334

[2934 rows x 4 columns]

In [460]:
prom_df=pd.DataFrame()
for index, row in mis.iterrows():
    ch = row.chr
    pos = int(row.pos)
    temp=promoters[(promoters['chr']==ch) & (promoters['start']<=pos) & (promoters['stop']>=pos)]
    if len(temp) == 0:
        #print("not in annotation")
        prom_df = prom_df.append({'chr' : ch, 'pos' : pos, 'hol' : "not_annot", "gene" : "NA"},  
                        ignore_index = True) 
    else:
        ids=[]
        for i in range(len(temp)):
            t=temp["info"].iloc[i].split(";")
            res = list(filter(lambda x: "LOC" in x, t))
            if len(res) == 0:
                res = list(filter(lambda x: "GeneID:" in x, t))
                if len(res) != 0:
                    ID = res[0].split("GeneID:",1)[1]
                    #print(ID)
                    ids.append(ID)
               # else:
                    #print(temp["type"].iloc[i])
                    #if temp["type"].iloc[i] == "cDNA_match":
                        #print("cDNA_match")
                        #print(ID)
                    #else:
                        #print("what about ids???")
                        #print(t)
            else:
                ID =res[0].split("LOC",1)[1]
                ids.append(ID)
        uni=len(Counter(ids))
        gene_name = ids[0]
        if uni > 1:
            #print("genes overlap")
            prom_df = prom_df.append({'chr' : ch, 'pos' : pos, 'hol' : "genes_overlap", "gene": "NA"},  
                        ignore_index = True) 
        
        if uni == 1:
            #print("new")
            if temp['type'].str.contains('gene').any():
                if temp['type'].str.contains('pseudogene').any():
                    prom_df = prom_df.append({'chr' : ch, 'pos' : pos, 'hol' : "pseudogene", "gene":"NA" },ignore_index = True)
                # snRNA, tRNA, lnc_RNA, snoRNA, rRNA, miRNA also have line with "gene"
                elif temp['type'].str.contains('snRNA').any():
                    prom_df = prom_df.append({'chr' : ch, 'pos' : pos, 'hol' : "snRNA", "gene":ids[0] },ignore_index = True)
                elif temp['type'].str.contains('tRNA').any():
                    prom_df = prom_df.append({'chr' : ch, 'pos' : pos, 'hol' : "tRNA", "gene":ids[0] },ignore_index = True)
                elif temp['type'].str.contains('lnc_RNA').any():
                    prom_df = prom_df.append({'chr' : ch, 'pos' : pos, 'hol' : "lnc_RNA", "gene":ids[0] },ignore_index = True)
                elif temp['type'].str.contains('snoRNA').any():
                    prom_df = prom_df.append({'chr' : ch, 'pos' : pos, 'hol' : "snoRNA", "gene":ids[0] },ignore_index = True)
                elif temp['type'].str.contains('rRNA').any():
                    prom_df = prom_df.append({'chr' : ch, 'pos' : pos, 'hol' : "rRNA", "gene":ids[0] },ignore_index = True)
                elif temp['type'].str.contains('miRNA').any():
                    prom_df = prom_df.append({'chr' : ch, 'pos' : pos, 'hol' : "miRNA", "gene":ids[0] },ignore_index = True)
                else:    
                    prom_df = prom_df.append({'chr' : ch, 'pos' : pos, 'hol' : "protein_coding", "gene" : f"LOC{gene_name}"},  
                                    ignore_index = True)

In [461]:
prom_df[(prom_df["hol"]!="protein_coding") & (prom_df["hol"]!="not_annot")]

                 chr       gene            hol         pos
154   NW_022145606.1  115927542        lnc_RNA  51617618.0
299   NW_022145610.1  105439156        lnc_RNA   4464029.0
377   NW_022145612.1  115919527        lnc_RNA   5147427.0
380   NW_022145604.1         NA  genes_overlap   4431805.0
541   NW_022145609.1         NA  genes_overlap  38496531.0
579   NW_022145612.1  115919686           tRNA  29121669.0
1145  NW_022145595.1  115921769        lnc_RNA  26982685.0
1274  NW_022145597.1         NA  genes_overlap  18694201.0
1693  NW_022145597.1  105436976        lnc_RNA  29688422.0
1705  NW_022145597.1         NA  genes_overlap   1832731.0
1813  NW_022145615.1         NA  genes_overlap   7003765.0
1927  NW_022145607.1         NA  genes_overlap  39221355.0
1992  NW_022145606.1  115927542        lnc_RNA  51617558.0
2080  NW_022145594.1  115921049        lnc_RNA  32277738.0
2371  NW_022145596.1         NA  genes_overlap  29277296.0
2433  NW_022145615.1         NA  genes_overlap   7003884.0
2572  NW_022145615.1         NA  genes_overlap  13279159.0
2674  NW_022145615.1  115920689        lnc_RNA  16394964.0

In [462]:
prom_overl = prom_df[prom_df['hol']=="genes_overlap"]

In [463]:
prom_overl

                 chr gene            hol         pos
380   NW_022145604.1   NA  genes_overlap   4431805.0
541   NW_022145609.1   NA  genes_overlap  38496531.0
1274  NW_022145597.1   NA  genes_overlap  18694201.0
1705  NW_022145597.1   NA  genes_overlap   1832731.0
1813  NW_022145615.1   NA  genes_overlap   7003765.0
1927  NW_022145607.1   NA  genes_overlap  39221355.0
2371  NW_022145596.1   NA  genes_overlap  29277296.0
2433  NW_022145615.1   NA  genes_overlap   7003884.0
2572  NW_022145615.1   NA  genes_overlap  13279159.0

In [464]:
prom_df2=pd.DataFrame()
for index, row in prom_overl.iterrows():
    ch = row.chr
    pos = int(row.pos)
    temp=promoters[(promoters['chr']==ch) & (promoters['start']<=pos) & (promoters['stop']>=pos)]
    if len(temp) == 0:
        #print("not in annotation")
        prom_df2 = prom_df2.append({'chr' : ch, 'pos' : pos, 'hol' : "not_annot", "gene" : "NA"},  
                        ignore_index = True) 
    else:
        ids=[]
        for i in range(len(temp)):
            t=temp["info"].iloc[i].split(";")
            res = list(filter(lambda x: "LOC" in x, t))
            if len(res) == 0:
                res = list(filter(lambda x: "GeneID:" in x, t))
                if len(res) != 0:
                    ID = res[0].split("GeneID:",1)[1]
                    #print(ID)
                    ids.append(ID)
                #else:
                    #print(temp["type"].iloc[i])
                    #if temp["type"].iloc[i] == "cDNA_match":
                       # print("cDNA_match")
                        #print(ID)
                   # else:
                       # print("what about ids???")
                       # print(t)
            else:
                ID =res[0].split("LOC",1)[1]
                ids.append(ID)
        uni=len(Counter(ids))
        gene_name = ids[0]
        all_loc=Counter(ids)
        
        for i in all_loc:
            #print(i) #gets loci names
            gt=promoters[(promoters['chr']==ch) & (promoters['start']<=pos) & (promoters['stop']>=pos) & (promoters['info'].str.contains(i)) ]
            print(gt)
            if gt['type'].str.contains('gene').any():
                if gt['type'].str.contains('pseudogene').any():
                    prom_df2 = prom_df2.append({'chr' : ch, 'pos' : pos, 'hol' : "pseudogene", "gene":"NA" },ignore_index = True)
                # snRNA, tRNA, lnc_RNA, snoRNA, rRNA, miRNA also have line with "gene"
                elif gt['type'].str.contains('snRNA').any():
                    prom_df2 = prom_df2.append({'chr' : ch, 'pos' : pos, 'hol' : "snRNA", "gene":i },ignore_index = True)
                elif gt['type'].str.contains('tRNA').any():
                    prom_df2 = prom_df2.append({'chr' : ch, 'pos' : pos, 'hol' : "tRNA", "gene":i },ignore_index = True)
                elif gt['type'].str.contains('lnc_RNA').any():
                    prom_df2 = prom_df2.append({'chr' : ch, 'pos' : pos, 'hol' : "lnc_RNA", "gene":i },ignore_index = True)
                elif gt['type'].str.contains('snoRNA').any():
                    prom_df2 = prom_df2.append({'chr' : ch, 'pos' : pos, 'hol' : "snoRNA", "gene":i },ignore_index = True)
                elif gt['type'].str.contains('rRNA').any():
                    prom_df2 = prom_df2.append({'chr' : ch, 'pos' : pos, 'hol' : "rRNA", "gene":i },ignore_index = True)
                elif gt['type'].str.contains('miRNA').any():
                    prom_df2 = prom_df2.append({'chr' : ch, 'pos' : pos, 'hol' : "miRNA", "gene":i },ignore_index = True)
                else:
                    prom_df2 = prom_df2.append({'chr' : ch, 'pos' : pos, 'hol' : "protein_coding", "gene":f"LOC{i}" },ignore_index = True)

                   chr       source  type    start     stop s1 s2 s3  \
434607  NW_022145604.1  tRNAscan-SE  gene  4430754  4431826  .  -  .
434608  NW_022145604.1  tRNAscan-SE  tRNA  4430754  4431826  .  -  .

                                                     info
434607  ID=gene-TRNAR-UCG-22;Dbxref=GeneID:115926272;N...
434608  ID=rna-TRNAR-UCG-22;Parent=gene-TRNAR-UCG-22;D...
                   chr       source  type    start     stop s1 s2 s3  \
434610  NW_022145604.1  tRNAscan-SE  gene  4430931  4432003  .  -  .
434611  NW_022145604.1  tRNAscan-SE  tRNA  4430931  4432003  .  -  .

                                                     info
434610  ID=gene-TRNAR-UCG-23;Dbxref=GeneID:115926273;N...
434611  ID=rna-TRNAR-UCG-23;Parent=gene-TRNAR-UCG-23;D...
                   chr       source  type    start     stop s1 s2 s3  \
434613  NW_022145604.1  tRNAscan-SE  gene  4431107  4432178  .  -  .
434614  NW_022145604.1  tRNAscan-SE  tRNA  4431107  4432178  .  -  .

                                                     info
434613  ID=gene-TRNAR-UCG-24;Dbxref=GeneID:115926274;N...
434614  ID=rna-TRNAR-UCG-24;Parent=gene-TRNAR-UCG-24;D...
                   chr       source  type     start      stop s1 s2 s3  \
613569  NW_022145609.1  tRNAscan-SE  gene  38495778  38496850  .  +  .
613570  NW_022145609.1  tRNAscan-SE  tRNA  38495778  38496850  .  +  .

                                                     info
613569  ID=gene-TRNAI-AAU-60;Dbxref=GeneID:115928942;N...
613570  ID=rna-TRNAI-AAU-60;Parent=gene-TRNAI-AAU-60;D...
                   chr       source  type     start      stop s1 s2 s3  \
613572  NW_022145609.1  tRNAscan-SE  gene  38495973  38497045  .  +  .
613573  NW_022145609.1  tRNAscan-SE  tRNA  38495973  38497045  .  +  .

                                                     info
613572  ID=gene-TRNAI-AAU-61;Dbxref=GeneID:115928943;N...
613573  ID=rna-TRNAI-AAU-61;Parent=gene-TRNAI-AAU-61;D...
                   chr  source  type     start      stop s1 s2 s3  \
201361  NW_022145597.1  Gnomon  gene  18684772  18695091  .  -  .

                                                     info
201361  ID=gene-LOC593302;Dbxref=GeneID:593302;Name=LO...
                   chr  source  type     start      stop s1 s2 s3  \
201403  NW_022145597.1  Gnomon  gene  18693264  18711911  .  +  .

                                                     info
201403  ID=gene-LOC593294;Dbxref=GeneID:593294;Name=LO...
                   chr  source     type    start     stop s1 s2 s3  \
186351  NW_022145597.1  Gnomon     gene  1822415  1832904  .  -  .
186352  NW_022145597.1  Gnomon  lnc_RNA  1822415  1832904  .  -  .

                                                     info
186351  ID=gene-LOC105437611;Dbxref=GeneID:105437611;N...
186352  ID=rna-XR_970659.2;Parent=gene-LOC105437611;Db...
                   chr  source  type    start     stop s1 s2 s3  \
186359  NW_022145597.1  Gnomon  gene  1831981  1833460  .  -  .

                                                     info
186359  ID=gene-LOC105437610;Dbxref=GeneID:105437610;N...
                   chr       source  type    start     stop s1 s2 s3  \
901647  NW_022145615.1  tRNAscan-SE  gene  7003017  7004088  .  +  .
901648  NW_022145615.1  tRNAscan-SE  tRNA  7003017  7004088  .  +  .

                                                     info
901647  ID=gene-TRNAC-GCA-16;Dbxref=GeneID:115920799;N...
901648  ID=rna-TRNAC-GCA-16;Parent=gene-TRNAC-GCA-16;D...
                   chr       source  type    start     stop s1 s2 s3  \
901650  NW_022145615.1  tRNAscan-SE  gene  7003719  7004790  .  +  .
901651  NW_022145615.1  tRNAscan-SE  tRNA  7003719  7004790  .  +  .

                                                     info
901650  ID=gene-TRNAC-GCA-17;Dbxref=GeneID:115920800;N...
901651  ID=rna-TRNAC-GCA-17;Parent=gene-TRNAC-GCA-17;D...
                   chr  source  type     start      stop s1 s2 s3  \
573943  NW_022145607.1  Gnomon  gene  39214409  39221941  .  -  .

                                                     info
573943  ID=gene-LOC578469;Dbxref=GeneID:578469;Name=LO...
                   chr  source  type     start      stop s1 s2 s3  \
573974  NW_022145607.1  Gnomon  gene  39220551  39227728  .  +  .

                                                     info
573974  ID=gene-LOC578536;Dbxref=GeneID:578536;Name=LO...
                   chr  source  type     start      stop s1 s2 s3  \
180727  NW_022145596.1  Gnomon  gene  29271950  29278293  .  -  .

                                                     info
180727  ID=gene-LOC587288;Dbxref=GeneID:587288;Name=LO...
                   chr  source  type     start      stop s1 s2 s3  \
180733  NW_022145596.1  Gnomon  gene  29276573  29312287  .  +  .

                                                     info
180733  ID=gene-LOC587249;Dbxref=GeneID:587249;Name=LO...
                   chr       source  type    start     stop s1 s2 s3  \
901647  NW_022145615.1  tRNAscan-SE  gene  7003017  7004088  .  +  .
901648  NW_022145615.1  tRNAscan-SE  tRNA  7003017  7004088  .  +  .

                                                     info
901647  ID=gene-TRNAC-GCA-16;Dbxref=GeneID:115920799;N...
901648  ID=rna-TRNAC-GCA-16;Parent=gene-TRNAC-GCA-16;D...
                   chr       source  type    start     stop s1 s2 s3  \
901650  NW_022145615.1  tRNAscan-SE  gene  7003719  7004790  .  +  .
901651  NW_022145615.1  tRNAscan-SE  tRNA  7003719  7004790  .  +  .

                                                     info
901650  ID=gene-TRNAC-GCA-17;Dbxref=GeneID:115920800;N...
901651  ID=rna-TRNAC-GCA-17;Parent=gene-TRNAC-GCA-17;D...
                   chr       source  type     start      stop s1 s2 s3  \
908046  NW_022145615.1  tRNAscan-SE  gene  13278407  13279479  .  +  .
908047  NW_022145615.1  tRNAscan-SE  tRNA  13278407  13279479  .  +  .

                                                     info
908046  ID=gene-TRNAT-AGU-29;Dbxref=GeneID:115920822;N...
908047  ID=rna-TRNAT-AGU-29;Parent=gene-TRNAT-AGU-29;D...
                   chr       source  type     start      stop s1 s2 s3  \
908049  NW_022145615.1  tRNAscan-SE  gene  13278861  13279933  .  +  .
908050  NW_022145615.1  tRNAscan-SE  tRNA  13278861  13279933  .  +  .

                                                     info
908049  ID=gene-TRNAT-AGU-30;Dbxref=GeneID:115920823;N...
908050  ID=rna-TRNAT-AGU-30;Parent=gene-TRNAT-AGU-30;D...

In [465]:
prom_df2.hol.unique()

array(['tRNA', 'protein_coding', 'lnc_RNA'], dtype=object)

In [466]:
len(prom_df[prom_df["hol"]=="protein_coding"])

142

In [467]:
len(prom_df2[prom_df2["hol"]=="lnc_RNA"])

1

In [100]:
prom_df[prom_df["hol"]=="genes_overlap"]

                 chr gene            hol         pos
380   NW_022145604.1   NA  genes_overlap   4431805.0
541   NW_022145609.1   NA  genes_overlap  38496531.0
1274  NW_022145597.1   NA  genes_overlap  18694201.0
1705  NW_022145597.1   NA  genes_overlap   1832731.0
1813  NW_022145615.1   NA  genes_overlap   7003765.0
1927  NW_022145607.1   NA  genes_overlap  39221355.0
2371  NW_022145596.1   NA  genes_overlap  29277296.0
2433  NW_022145615.1   NA  genes_overlap   7003884.0
2572  NW_022145615.1   NA  genes_overlap  13279159.0

In [30]:
len(prom_df[(prom_df["hol"]!="genes_overlap") & (prom_df["hol"]!="not_annot")])

151

#------------------------------------------------

## now let's see if there is any in enhancer, outside of intron

are intronic ones located in:
    1 ATAC
    2 lvar
    3 chip 
    4 lnc
    5 promoter
    6 TFBS

In [336]:
promoters = pd.read_csv('all_annotations.txt', sep="\t", header=None, names=["chr","source","type","start","stop","s1","s2","s3","info"])
promoters = promoters[promoters['type']=="gene"]

promoters.loc[(promoters["type"]=="gene") & (promoters["s2"]=="+"), "start"] -= 1000
promoters.loc[(promoters["type"]=="gene") & (promoters["s2"]=="-"), "stop"] += 1000

In [337]:
atac = pd.read_csv("atac_mapped_translatedto5.0.csv", header=None, names=["chr","start","stop"])
chip = pd.read_csv('AlxChip_mapped_translatedto5.0.txt', sep="\t", header=None, names=["chr","start","stop"])
lvar = pd.read_csv('lvar_spur_48_50_mapped_translatedto50.csv', header=None, names=["chr","start","stop"])
lnc = pd.read_csv("lncRNA_mapped_translatedto5.0.csv", header=1, names=["chr","start","stop"])

In [338]:
mis = new_df[new_df['hol']=="not_annot"]

In [339]:
enh_check=pd.DataFrame()
for index, row in mis.iterrows():
    ch = row.chr
    pos = row.pos
    temp=atac[(atac['chr']==ch) & (atac['start']<=pos) & (atac['stop']>=pos)]
    if len(temp) > 0:
        print("in atac")
        enh_check = enh_check.append({'chr' : ch, 'pos' : pos, 'hol' : "atac" },ignore_index = True) 
    temp=chip[(chip['chr']==ch) & (chip['start']<=pos) & (chip['stop']>=pos)]
    if len(temp) > 0:
        print("in chip")
        enh_check = enh_check.append({'chr' : ch, 'pos' : pos, 'hol' : "chip" },ignore_index = True)
    temp=lvar[(lvar['chr']==ch) & (lvar['start']<=pos) & (lvar['stop']>=pos)]
    if len(temp) > 0:
        print("in lvar")
        enh_check = enh_check.append({'chr' : ch, 'pos' : pos, 'hol' : "lvar" },ignore_index = True)
    temp=lnc[(lnc['chr']==ch) & (lnc['start']<=pos) & (lnc['stop']>=pos)]
    if len(temp) > 0:
        print("in lnc")
        enh_check = enh_check.append({'chr' : ch, 'pos' : pos, 'hol' : "lnc" },ignore_index = True)
    temp=promoters[(promoters['chr']==ch) & (promoters['start']<=pos) & (promoters['stop']>=pos)]
    if len(temp) > 0:
        print("in promoters")
        enh_check = enh_check.append({'chr' : ch, 'pos' : pos, 'hol' : "promoter" },ignore_index = True)

in lnc
in lnc
in promoters
in lnc
in promoters
in lnc
in lnc
in lnc
in promoters
in promoters
in lnc
in lnc

In [340]:
enh_check.hol.unique()

array(['lnc', 'promoter'], dtype=object)

In [342]:
len(enh_check[enh_check["hol"]=="lnc"])

8

In [157]:
pot_en = enh_check[(enh_check["hol"]=="lvar") | (enh_check["hol"]=="chip")]

In [158]:
pot_en=pot_en.sort_values(by=["chr",'pos'])

In [159]:
len(pot_en)

19

In [ ]:
#reminder: chosen atac supp (or lvar or chip) too strict?

## now let's see if there is any in enhancer, inside of intron

In [343]:
mis = new_df[new_df['hol']=="intron"]

In [344]:
int_check=pd.DataFrame()
for index, row in mis.iterrows():
    ch = row.chr
    pos = row.pos
    gene=row.gene
    temp=atac[(atac['chr']==ch) & (atac['start']<=pos) & (atac['stop']>=pos)]
    if len(temp) > 0:
        print("in atac")
        int_check = int_check.append({'chr' : ch, 'pos' : pos, 'hol' : "atac",'gene':gene },ignore_index = True) 
    temp=chip[(chip['chr']==ch) & (chip['start']<=pos) & (chip['stop']>=pos)]
    if len(temp) > 0:
        print("in chip")
        int_check = int_check.append({'chr' : ch, 'pos' : pos, 'hol' : "chip",'gene':gene },ignore_index = True)
    temp=lvar[(lvar['chr']==ch) & (lvar['start']<=pos) & (lvar['stop']>=pos)]
    if len(temp) > 0:
        print("in lvar")
        int_check = int_check.append({'chr' : ch, 'pos' : pos, 'hol' : "lvar",'gene':gene },ignore_index = True)
    temp=lnc[(lnc['chr']==ch) & (lnc['start']<=pos) & (lnc['stop']>=pos)]
    if len(temp) > 0:
        print("in lnc")
        int_check = int_check.append({'chr' : ch, 'pos' : pos, 'hol' : "lnc",'gene':gene },ignore_index = True)

in lnc

In [345]:
int_check.hol.unique()

array(['lnc'], dtype=object)

In [163]:
int_check[int_check["hol"]=="lnc"]

                chr          gene  hol         pos
0    NW_022145601.1  LOC100894079  lnc  22606114.0
1    NW_022145612.1     LOC579367  lnc  41191507.0
2    NW_022145614.1  LOC105444100  lnc  20905720.0
3    NW_022145610.1  LOC105444622  lnc   1523941.0
4    NW_022145543.1  LOC115917929  lnc    956594.0
..              ...           ...  ...         ...
124  NW_022145615.1  LOC100892961  lnc  29040288.0
125  NW_022145612.1     LOC762981  lnc   5104468.0
126  NW_022145598.1  LOC105444132  lnc  17378166.0
127  NW_022145576.1  LOC100891941  lnc   2132339.0
129  NW_022145605.1  LOC100893229  lnc  22327453.0

[118 rows x 4 columns]

In [164]:
pot_in = int_check[(int_check["hol"]=="lvar") | (int_check["hol"]=="chip") | (int_check["hol"]=="atac")]

In [165]:
pot_in=pot_in.sort_values(by=["chr",'pos'])

In [166]:
pot_in

                chr          gene   hol         pos
86   NW_022145600.1     LOC577823  lvar  18662627.0
34   NW_022145601.1     LOC754783  chip   5003800.0
75   NW_022145604.1     LOC582776  lvar   8855042.0
106  NW_022145605.1     LOC588549  lvar  16695182.0
37   NW_022145609.1  LOC105445730  chip   1841502.0
91   NW_022145610.1  LOC100894087  lvar  35316800.0
55   NW_022145612.1  LOC105447203  chip  11733562.0
128  NW_022145612.1     LOC580713  lvar  14929793.0
13   NW_022145612.1     LOC582326  chip  17759074.0
88   NW_022145612.1     LOC580332  lvar  47720769.0
23   NW_022145613.1     LOC581963  atac  38079900.0
104  NW_022145613.1     LOC581963  atac  38080603.0

In [124]:
new_df

                 chr       gene              hol       pos
0     NW_022145599.1        NaN        not_annot    809765
1     NW_022145613.1        NaN        not_annot  22684111
2     NW_022145600.1        NaN        not_annot  36849648
3     NW_022145612.1        NaN        not_annot  13121687
4     NW_022145595.1        NaN        not_annot  20882520
...              ...        ...              ...       ...
6842  NW_022145597.1        NaN        not_annot  27269202
6843  NW_022145597.1        NaN        not_annot  25996126
6844  NW_022145596.1        NaN  alternative UTR  12214610
6845  NW_022145595.1        NaN        not_annot   3170334
6846  NW_022145595.1  LOC582877           intron  16380245

[6847 rows x 4 columns]

## Biomin genes

In [475]:
#new_dff = pd.read_csv('annotated_top_goodhe_01_overlap.csv')
new_df =new_df.dropna()
new_df2 =new_df2.dropna()
#prom_df =prom_df.dropna()
#prom_df2 =prom_df2.dropna()

In [454]:
#comb_set=set(list(new_dff[new_dff["gene"].str.contains("LOC")].gene))

In [476]:
oloc=list(new_df[new_df["gene"].str.contains("LOC")].gene)

In [477]:
nloc=list(new_df2[new_df2["gene"].str.contains("LOC")].gene)

In [507]:
oploc=list(prom_df[prom_df["gene"].str.contains("LOC")].gene)
nploc=list(prom_df2[prom_df2["gene"].str.contains("LOC")].gene)

In [527]:
comb_set=set(oloc + nloc)# + oploc + nploc)

In [350]:
comb_set

{'LOC100888258',
 'LOC100888559',
 'LOC100888919',
 'LOC100888943',
 'LOC100889081',
 'LOC100889178',
 'LOC100889636',
 'LOC100890044',
 'LOC100890291',
 'LOC100890901',
 'LOC100891054',
 'LOC100891151',
 'LOC100891656',
 'LOC100892015',
 'LOC100892245',
 'LOC100893334',
 'LOC100893463',
 'LOC100893580',
 'LOC100893707',
 'LOC100893741',
 'LOC100893814',
 'LOC105436405',
 'LOC105436540',
 'LOC105436858',
 'LOC105437164',
 'LOC105437450',
 'LOC105437610',
 'LOC105437744',
 'LOC105440755',
 'LOC105441802',
 'LOC105443575',
 'LOC105444109',
 'LOC105444601',
 'LOC105445286',
 'LOC105445349',
 'LOC105446050',
 'LOC105446450',
 'LOC115918170',
 'LOC115918473',
 'LOC115920308',
 'LOC115920337',
 'LOC115921812',
 'LOC115926117',
 'LOC115927664',
 'LOC115927899',
 'LOC115928085',
 'LOC115929921',
 'LOC575136',
 'LOC575196',
 'LOC575433',
 'LOC575587',
 'LOC575771',
 'LOC575816',
 'LOC576048',
 'LOC576142',
 'LOC576394',
 'LOC576425',
 'LOC576459',
 'LOC576527',
 'LOC576943',
 'LOC576978',
 'LOC577037',
 'LOC577291',
 'LOC577353',
 'LOC577797',
 'LOC578295',
 'LOC578457',
 'LOC578924',
 'LOC579262',
 'LOC579418',
 'LOC579505',
 'LOC579509',
 'LOC579661',
 'LOC579746',
 'LOC579946',
 'LOC579960',
 'LOC580090',
 'LOC580370',
 'LOC580453',
 'LOC580556',
 'LOC580566',
 'LOC580579',
 'LOC581313',
 'LOC581503',
 'LOC582167',
 'LOC582362',
 'LOC582800',
 'LOC582830',
 'LOC582837',
 'LOC582896',
 'LOC582937',
 'LOC583108',
 'LOC583243',
 'LOC583524',
 'LOC583754',
 'LOC584509',
 'LOC584837',
 'LOC585739',
 'LOC585848',
 'LOC586560',
 'LOC586604',
 'LOC586642',
 'LOC586665',
 'LOC586731',
 'LOC587374',
 'LOC587649',
 'LOC587947',
 'LOC588097',
 'LOC588172',
 'LOC588497',
 'LOC588570',
 'LOC589799',
 'LOC589863',
 'LOC590634',
 'LOC590949',
 'LOC591243',
 'LOC591406',
 'LOC591851',
 'LOC592049',
 'LOC592512',
 'LOC592592',
 'LOC592866',
 'LOC592919',
 'LOC593090',
 'LOC593397',
 'LOC594670',
 'LOC594807',
 'LOC752636',
 'LOC753159',
 'LOC753542',
 'LOC753746',
 'LOC753988',
 'LOC754339',
 'LOC754687',
 'LOC755676',
 'LOC756342',
 'LOC762753',
 'LOC762780',
 'LOC763313',
 'LOC764011',
 'LOC765114'}

In [480]:
mappin = pd.read_csv('SPU_LOC_echino.csv', sep=",", names=['genepage','locname', 'info', 'vmi1','vmi2','vmi3','vmi4'])

In [481]:
mappin=mappin.drop(columns=['vmi1',"vmi3","vmi4"])

In [482]:
mappin.drop(mappin[mappin['vmi2'] == "Manually curated"].index, inplace = True)
mappin.drop(mappin[mappin['vmi2'] == "Algorithmically generated"].index, inplace = True)

In [483]:
mappin=mappin.dropna()

In [484]:
my_spus = mappin[mappin['vmi2'].str.contains('SPU')]

In [485]:
from collections import defaultdict

mapping = defaultdict(list)

for _, (locname, vmi) in my_spus[['locname','vmi2']].iterrows():
    
    candidates = vmi.split("|")
    spus = [el for el in candidates if "SPU" in el]
    locs = [el for el in candidates if "LOC" in el]
    if "LOC" in locname:
        locs.append(locname)
        
    for spu in spus:
        for loc in locs:
            mapping[spu].append(loc)
        
mapping = dict(mapping)

In [486]:
mapping["SPU_023201"]

['LOC582406', 'LOC110987996']

In [ ]:
#i was here with checking high bayenv

In [554]:
erd = pd.read_csv('regulator.csv', header=None, names=["chr","start","stop","hol"],dtype=object)

In [555]:
erd

           chr start stop  hol
0    100888859   NaN  NaN  NaN
1    100889578   NaN  NaN  NaN
2    100889729   NaN  NaN  NaN
3    100889993   NaN  NaN  NaN
4    100891144   NaN  NaN  NaN
..         ...   ...  ...  ...
758  100891319   NaN  NaN  NaN
759  100891398   NaN  NaN  NaN
760  100893779   NaN  NaN  NaN
761     373229   NaN  NaN  NaN
762     373404   NaN  NaN  NaN

[763 rows x 4 columns]

In [556]:
#erd["f"]="LOC" + erd["chr"]

In [557]:
#alt_genes=set(erd.f.to_numpy())

In [551]:
genes=erd.chr.to_numpy()

In [552]:
alt_genes=set()
for gene in genes:
    if gene in mapping:
        alt = mapping[gene]
        for el in alt:
            alt_genes.add(el)

In [558]:
len(alt_genes)

763

In [399]:
alt_genes

{'LOC100887874',
 'LOC100887881',
 'LOC100887895',
 'LOC100887976',
 'LOC100887987',
 'LOC100888100',
 'LOC100888106',
 'LOC100888144',
 'LOC100888163',
 'LOC100888173',
 'LOC100888193',
 'LOC100888229',
 'LOC100888264',
 'LOC100888276',
 'LOC100888309',
 'LOC100888349',
 'LOC100888350',
 'LOC100888404',
 'LOC100888418',
 'LOC100888427',
 'LOC100888432',
 'LOC100888460',
 'LOC100888466',
 'LOC100888482',
 'LOC100888492',
 'LOC100888504',
 'LOC100888536',
 'LOC100888596',
 'LOC100888619',
 'LOC100888640',
 'LOC100888664',
 'LOC100888674',
 'LOC100888705',
 'LOC100888710',
 'LOC100888724',
 'LOC100888741',
 'LOC100888758',
 'LOC100888777',
 'LOC100888783',
 'LOC100888798',
 'LOC100888859',
 'LOC100888872',
 'LOC100888880',
 'LOC100888889',
 'LOC100888898',
 'LOC100888945',
 'LOC100889015',
 'LOC100889018',
 'LOC100889019',
 'LOC100889107',
 'LOC100889161',
 'LOC100889197',
 'LOC100889201',
 'LOC100889230',
 'LOC100889261',
 'LOC100889274',
 'LOC100889344',
 'LOC100889357',
 'LOC100889417',
 'LOC100889422',
 'LOC100889425',
 'LOC100889430',
 'LOC100889453',
 'LOC100889482',
 'LOC100889528',
 'LOC100889533',
 'LOC100889578',
 'LOC100889583',
 'LOC100889604',
 'LOC100889605',
 'LOC100889627',
 'LOC100889645',
 'LOC100889650',
 'LOC100889729',
 'LOC100889756',
 'LOC100889764',
 'LOC100889794',
 'LOC100889858',
 'LOC100889859',
 'LOC100889890',
 'LOC100889900',
 'LOC100889907',
 'LOC100889942',
 'LOC100889993',
 'LOC100890022',
 'LOC100890028',
 'LOC100890074',
 'LOC100890077',
 'LOC100890109',
 'LOC100890110',
 'LOC100890169',
 'LOC100890317',
 'LOC100890407',
 'LOC100890432',
 'LOC100890437',
 'LOC100890486',
 'LOC100890511',
 'LOC100890529',
 'LOC100890571',
 'LOC100890594',
 'LOC100890626',
 'LOC100890678',
 'LOC100890684',
 'LOC100890770',
 'LOC100890782',
 'LOC100890792',
 'LOC100890799',
 'LOC100890811',
 'LOC100890826',
 'LOC100890837',
 'LOC100890845',
 'LOC100890848',
 'LOC100890854',
 'LOC100890887',
 'LOC100890901',
 'LOC100890913',
 'LOC100890919',
 'LOC100890928',
 'LOC100890949',
 'LOC100890961',
 'LOC100890973',
 'LOC100890976',
 'LOC100890990',
 'LOC100891000',
 'LOC100891013',
 'LOC100891014',
 'LOC100891025',
 'LOC100891037',
 'LOC100891105',
 'LOC100891124',
 'LOC100891144',
 'LOC100891166',
 'LOC100891208',
 'LOC100891209',
 'LOC100891243',
 'LOC100891286',
 'LOC100891317',
 'LOC100891319',
 'LOC100891325',
 'LOC100891349',
 'LOC100891357',
 'LOC100891362',
 'LOC100891388',
 'LOC100891398',
 'LOC100891415',
 'LOC100891430',
 'LOC100891470',
 'LOC100891481',
 'LOC100891494',
 'LOC100891572',
 'LOC100891592',
 'LOC100891606',
 'LOC100891622',
 'LOC100891643',
 'LOC100891660',
 'LOC100891716',
 'LOC100891720',
 'LOC100891792',
 'LOC100891814',
 'LOC100891822',
 'LOC100891891',
 'LOC100891922',
 'LOC100891941',
 'LOC100891948',
 'LOC100891950',
 'LOC100891956',
 'LOC100892015',
 'LOC100892035',
 'LOC100892078',
 'LOC100892146',
 'LOC100892165',
 'LOC100892192',
 'LOC100892207',
 'LOC100892220',
 'LOC100892353',
 'LOC100892461',
 'LOC100892462',
 'LOC100892523',
 'LOC100892524',
 'LOC100892543',
 'LOC100892559',
 'LOC100892620',
 'LOC100892642',
 'LOC100892650',
 'LOC100892685',
 'LOC100892688',
 'LOC100892692',
 'LOC100892697',
 'LOC100892706',
 'LOC100892714',
 'LOC100892730',
 'LOC100892779',
 'LOC100892872',
 'LOC100892885',
 'LOC100892889',
 'LOC100892915',
 'LOC100892992',
 'LOC100893012',
 'LOC100893020',
 'LOC100893042',
 'LOC100893126',
 'LOC100893127',
 'LOC100893131',
 'LOC100893148',
 'LOC100893177',
 'LOC100893252',
 'LOC100893271',
 'LOC100893285',
 'LOC100893306',
 'LOC100893352',
 'LOC100893353',
 'LOC100893365',
 'LOC100893394',
 'LOC100893402',
 'LOC100893433',
 'LOC100893443',
 'LOC100893457',
 'LOC100893459',
 'LOC100893501',
 'LOC100893580',
 'LOC100893600',
 'LOC100893603',
 'LOC100893627',
 'LOC100893638',
 'LOC100893693',
 'LOC100893750',
 'LOC100893758',
 'LOC100893772',
 'LOC100893779',
 'LOC100893788',
 'LOC100893803',
 'LOC100893836',
 'LOC100893848',
 'LOC100893937',
 'LOC100894034',
 'LOC100894039',
 'LOC100894050',
 'LOC100894087',
 'LOC100894088',
 'LOC100894148',
 'LOC373197',
 'LOC373200',
 'LOC373201',
 'LOC373202',
 'LOC373203',
 'LOC373229',
 'LOC373243',
 'LOC373244',
 'LOC373266',
 'LOC373306',
 'LOC373307',
 'LOC373316',
 'LOC373332',
 'LOC373356',
 'LOC373357',
 'LOC373358',
 'LOC373359',
 'LOC373385',
 'LOC373398',
 'LOC373400',
 'LOC373403',
 'LOC373404',
 'LOC373462',
 'LOC373467',
 'LOC373468',
 'LOC373470',
 'LOC373486',
 'LOC373496',
 'LOC373506',
 'LOC373521',
 'LOC373522',
 'LOC373527',
 'LOC373528',
 'LOC373529',
 'LOC373531',
 'LOC373533',
 'LOC373538',
 'LOC378468',
 'LOC378469',
 'LOC378470',
 'LOC397069',
 'LOC408052',
 'LOC414294',
 'LOC548625',
 'LOC574072',
 'LOC574563',
 'LOC574567',
 'LOC574577',
 'LOC574588',
 'LOC574674',
 'LOC574677',
 'LOC574751',
 'LOC574797',
 'LOC574804',
 'LOC574841',
 'LOC574894',
 'LOC575016',
 'LOC575060',
 'LOC575083',
 'LOC575094',
 'LOC575179',
 'LOC575191',
 'LOC575196',
 'LOC575199',
 'LOC575200',
 'LOC575213',
 'LOC575230',
 'LOC575231',
 'LOC575247',
 'LOC575262',
 'LOC575292',
 'LOC575350',
 'LOC575361',
 'LOC575435',
 'LOC575443',
 'LOC575445',
 'LOC575472',
 'LOC575549',
 'LOC575572',
 'LOC575591',
 'LOC575703',
 'LOC575706',
 'LOC575745',
 'LOC575826',
 'LOC575879',
 'LOC575920',
 'LOC575938',
 'LOC575958',
 'LOC576033',
 'LOC576057',
 'LOC576102',
 'LOC576117',
 'LOC576148',
 'LOC576170',
 'LOC576184',
 'LOC576191',
 'LOC576197',
 'LOC576228',
 'LOC576257',
 'LOC576281',
 'LOC576303',
 'LOC576309',
 'LOC576329',
 'LOC576339',
 'LOC576365',
 'LOC576385',
 'LOC576422',
 'LOC576427',
 'LOC576430',
 'LOC576433',
 'LOC576487',
 'LOC576502',
 'LOC576535',
 'LOC576580',
 'LOC576618',
 'LOC576632',
 'LOC576656',
 'LOC576774',
 'LOC576795',
 'LOC576799',
 'LOC576814',
 'LOC576870',
 'LOC576939',
 'LOC576952',
 'LOC576971',
 'LOC576991',
 'LOC577009',
 'LOC577033',
 'LOC577108',
 'LOC577120',
 'LOC577135',
 'LOC577214',
 'LOC577345',
 'LOC577397',
 'LOC577423',
 'LOC577426',
 'LOC577456',
 'LOC577485',
 'LOC577516',
 'LOC577601',
 'LOC577616',
 'LOC577625',
 'LOC577661',
 'LOC577676',
 'LOC577677',
 'LOC577702',
 'LOC577747',
 'LOC577766',
 'LOC577786',
 'LOC577801',
 'LOC577815',
 'LOC577823',
 'LOC577837',
 'LOC577839',
 'LOC577863',
 'LOC577880',
 'LOC577883',
 'LOC577924',
 'LOC577994',
 'LOC578054',
 'LOC578072',
 'LOC578316',
 'LOC578336',
 'LOC578373',
 'LOC578414',
 'LOC578473',
 'LOC578584',
 'LOC578589',
 'LOC578618',
 'LOC578637',
 'LOC578691',
 'LOC578784',
 'LOC578854',
 'LOC578894',
 'LOC579018',
 'LOC579092',
 'LOC579112',
 'LOC579133',
 'LOC579182',
 'LOC579208',
 'LOC579226',
 'LOC579264',
 'LOC579267',
 'LOC579286',
 'LOC579306',
 'LOC579348',
 'LOC579386',
 'LOC579474',
 'LOC579483',
 'LOC579532',
 'LOC579568',
 'LOC579718',
 'LOC579772',
 'LOC579838',
 'LOC579936',
 'LOC579965',
 'LOC579988',
 'LOC580021',
 'LOC580047',
 'LOC580050',
 'LOC580069',
 'LOC580113',
 'LOC580133',
 'LOC580177',
 'LOC580181',
 'LOC580200',
 'LOC580208',
 'LOC580246',
 'LOC580358',
 'LOC580363',
 'LOC580371',
 'LOC580404',
 'LOC580412',
 'LOC580498',
 'LOC580518',
 'LOC580526',
 'LOC580556',
 'LOC580656',
 'LOC580686',
 'LOC580704',
 'LOC580734',
 'LOC580818',
 'LOC580828',
 'LOC580856',
 'LOC580859',
 'LOC580883',
 'LOC580897',
 'LOC581084',
 'LOC581152',
 'LOC581160',
 'LOC581162',
 'LOC581239',
 'LOC581266',
 'LOC581269',
 'LOC581359',
 'LOC581446',
 'LOC581613',
 'LOC581618',
 'LOC581625',
 'LOC581646',
 'LOC581708',
 'LOC581716',
 'LOC581721',
 'LOC581729',
 'LOC581783',
 'LOC581867',
 'LOC581970',
 'LOC581992',
 'LOC581998',
 'LOC582056',
 'LOC582139',
 'LOC582157',
 'LOC582205',
 'LOC582266',
 'LOC582267',
 'LOC582289',
 'LOC582334',
 'LOC582387',
 'LOC582443',
 'LOC582509',
 'LOC582522',
 'LOC582550',
 'LOC582683',
 'LOC582779',
 'LOC582802',
 'LOC582832',
 'LOC582943',
 'LOC583022',
 'LOC583063',
 'LOC583129',
 'LOC583158',
 'LOC583193',
 'LOC583226',
 'LOC583635',
 'LOC583668',
 'LOC583678',
 'LOC583688',
 'LOC583705',
 'LOC583735',
 'LOC583802',
 'LOC583865',
 'LOC583936',
 'LOC583948',
 'LOC584138',
 'LOC584191',
 'LOC584374',
 'LOC584513',
 'LOC584535',
 'LOC584539',
 'LOC584640',
 'LOC584892',
 'LOC585151',
 'LOC585260',
 'LOC585274',
 'LOC585334',
 'LOC585491',
 'LOC585495',
 'LOC585554',
 'LOC585561',
 'LOC585635',
 'LOC585636',
 'LOC585655',
 'LOC585766',
 'LOC585895',
 'LOC585918',
 'LOC586014',
 'LOC586051',
 'LOC586069',
 'LOC586106',
 'LOC586389',
 'LOC586414',
 'LOC586455',
 'LOC586543',
 'LOC586691',
 'LOC586893',
 'LOC586896',
 'LOC587009',
 'LOC587072',
 'LOC587121',
 'LOC587141',
 'LOC587156',
 'LOC587174',
 'LOC587204',
 'LOC587286',
 'LOC587463',
 'LOC587495',
 'LOC587667',
 'LOC587670',
 'LOC587679',
 'LOC587681',
 'LOC587946',
 'LOC587959',
 'LOC587991',
 'LOC588020',
 'LOC588024',
 'LOC588048',
 'LOC588137',
 'LOC588186',
 'LOC588193',
 'LOC588294',
 'LOC588358',
 'LOC588463',
 'LOC588522',
 'LOC588533',
 'LOC588553',
 'LOC588569',
 'LOC588583',
 'LOC588662',
 'LOC588775',
 'LOC588816',
 'LOC589006',
 'LOC589017',
 'LOC589099',
 'LOC589142',
 'LOC589156',
 'LOC589211',
 'LOC589213',
 'LOC589247',
 'LOC589273',
 'LOC589274',
 'LOC589388',
 'LOC589453',
 'LOC589504',
 'LOC589616',
 'LOC589806',
 'LOC589879',
 'LOC589987',
 'LOC590038',
 'LOC590249',
 'LOC590306',
 'LOC590322',
 'LOC590379',
 'LOC590448',
 'LOC590592',
 'LOC590715',
 'LOC590789',
 'LOC590807',
 'LOC590815',
 'LOC590859',
 'LOC590866',
 'LOC590867',
 'LOC590876',
 'LOC591088',
 'LOC591116',
 'LOC591124',
 'LOC591167',
 'LOC591205',
 'LOC591326',
 'LOC591431',
 'LOC591457',
 'LOC591467',
 'LOC591524',
 'LOC591553',
 'LOC591571',
 'LOC591657',
 'LOC591662',
 'LOC591696',
 'LOC591714',
 'LOC591730',
 'LOC591744',
 'LOC591795',
 'LOC591879',
 'LOC591922',
 'LOC592051',
 'LOC592057',
 'LOC592160',
 'LOC592389',
 'LOC592435',
 'LOC592483',
 'LOC592517',
 'LOC592563',
 'LOC592596',
 'LOC592735',
 'LOC592751',
 'LOC592869',
 'LOC592877',
 'LOC592902',
 'LOC592936',
 'LOC593001',
 'LOC593063',
 'LOC593067',
 'LOC593151',
 'LOC593175',
 'LOC593193',
 'LOC593304',
 'LOC593379',
 'LOC593387',
 'LOC593417',
 'LOC593496',
 'LOC593520',
 'LOC593587',
 'LOC593676',
 'LOC593693',
 'LOC593781',
 'LOC593964',
 'LOC593983',
 'LOC594176',
 'LOC594243',
 'LOC594477',
 'LOC594492',
 'LOC594525',
 'LOC594572',
 'LOC594596',
 'LOC594598',
 'LOC594776',
 'LOC594820',
 'LOC751833',
 'LOC751834',
 'LOC751845',
 'LOC751846',
 'LOC751847',
 'LOC751860',
 'LOC752043',
 'LOC752256',
 'LOC752324',
 'LOC752355',
 'LOC752418',
 'LOC752563',
 'LOC752772',
 'LOC752819',
 'LOC752837',
 'LOC752906',
 'LOC752948',
 'LOC752963',
 'LOC753166',
 'LOC753299',
 'LOC753325',
 'LOC753540',
 'LOC753938',
 'LOC753978',
 'LOC754015',
 'LOC754022',
 'LOC754050',
 'LOC754096',
 'LOC754237',
 'LOC754454',
 'LOC754498',
 'LOC754648',
 'LOC754664',
 'LOC754692',
 'LOC754693',
 'LOC754978',
 'LOC755102',
 'LOC755253',
 'LOC755325',
 'LOC755342',
 'LOC755893',
 'LOC756187',
 'LOC756237',
 'LOC756515',
 'LOC756604',
 'LOC756755',
 'LOC756859',
 'LOC756925',
 'LOC756940',
 'LOC757216',
 'LOC762402',
 'LOC762443',
 'LOC762550',
 'LOC762552',
 'LOC762555',
 'LOC762571',
 'LOC762765',
 'LOC762890',
 'LOC763033',
 'LOC763056',
 'LOC763076',
 'LOC763081',
 'LOC763090',
 'LOC763101',
 'LOC763239',
 'LOC763325',
 'LOC763676',
 'LOC763703',
 'LOC763973',
 'LOC764243',
 'LOC764303',
 'LOC764728',
 'LOC764762',
 'LOC764791',
 'LOC764966',
 'LOC765036',
 'LOC765057'}

In [199]:
comb_set

{'LOC100888721',
 'LOC100892305',
 'LOC585380',
 'LOC579152',
 'LOC100888805',
 'LOC756379',
 'LOC577683',
 'LOC576228',
 'LOC763804',
 'LOC100889593',
 'LOC584537',
 'LOC577766',
 'LOC100891134',
 'LOC576508',
 'LOC583289',
 'LOC578469',
 'LOC100893146',
 'LOC577291',
 'LOC577545',
 'LOC100892160',
 'LOC763369',
 'LOC764101',
 'LOC577313',
 'LOC100890361',
 'LOC105446972',
 'LOC105447312',
 'LOC590237',
 'LOC105443094',
 'LOC115922139',
 'LOC593302',
 'LOC105441802',
 'LOC105446450',
 'LOC577155',
 'LOC757176',
 'LOC576978',
 'LOC592598',
 'LOC105442195',
 'LOC754388',
 'LOC100892211',
 'LOC584564',
 'LOC548623',
 'LOC585283',
 'LOC580955',
 'LOC580066',
 'LOC583510',
 'LOC594712',
 'LOC594342',
 'LOC576998',
 'LOC115927876',
 'LOC100888744',
 'LOC586138',
 'LOC583749',
 'LOC594043',
 'LOC115921855',
 'LOC582885',
 'LOC115920679',
 'LOC574747',
 'LOC105444822',
 'LOC105437963',
 'LOC591610',
 'LOC578639',
 'LOC105438999',
 'LOC100892823',
 'LOC115921764',
 'LOC105441997',
 'LOC587252',
 'LOC580359',
 'LOC100892785',
 'LOC754268',
 'LOC578593',
 'LOC586872',
 'LOC100887974',
 'LOC594709',
 'LOC577479',
 'LOC763076',
 'LOC586216',
 'LOC575835',
 'LOC581461',
 'LOC578952',
 'LOC100889891',
 'LOC578924',
 'LOC755676',
 'LOC592216',
 'LOC574667',
 'LOC588154',
 'LOC586705',
 'LOC583308',
 'LOC105444929',
 'LOC579511',
 'LOC594022',
 'LOC753880',
 'LOC579286',
 'LOC587893',
 'LOC593558',
 'LOC105439363',
 'LOC373486',
 'LOC577639',
 'LOC764585',
 'LOC100889485',
 'LOC592317',
 'LOC115918196',
 'LOC115920233',
 'LOC755600',
 'LOC591308',
 'LOC100890901',
 'LOC587772',
 'LOC588119',
 'LOC582326',
 'LOC577161',
 'LOC576854',
 'LOC584816',
 'LOC105438481',
 'LOC756684',
 'LOC589728',
 'LOC100888678',
 'LOC115920061',
 'LOC579202',
 'LOC373434',
 'LOC580814',
 'LOC764821',
 'LOC592922',
 'LOC582658',
 'LOC581386',
 'LOC581020',
 'LOC576080',
 'LOC589590',
 'LOC100892171',
 'LOC115923684',
 'LOC578116',
 'LOC575818',
 'LOC592845',
 'LOC754275',
 'LOC588004',
 'LOC581330',
 'LOC576278',
 'LOC592667',
 'LOC105440379',
 'LOC584380',
 'LOC754729',
 'LOC587664',
 'LOC576588',
 'LOC753176',
 'LOC105443534',
 'LOC105436589',
 'LOC583575',
 'LOC577678',
 'LOC574553',
 'LOC578365',
 'LOC105436983',
 'LOC373288',
 'LOC100887920',
 'LOC583825',
 'LOC575851',
 'LOC578108',
 'LOC755757',
 'LOC576491',
 'LOC578787',
 'LOC582944',
 'LOC592049',
 'LOC594484',
 'LOC115928085',
 'LOC100889101',
 'LOC100889307',
 'LOC100890552',
 'LOC579746',
 'LOC590337',
 'LOC100892375',
 'LOC575600',
 'LOC580296',
 'LOC373409',
 'LOC591009',
 'LOC578742',
 'LOC100888305',
 'LOC100889316',
 'LOC115928333',
 'LOC378945',
 'LOC587464',
 'LOC100892833',
 'LOC762935',
 'LOC577659',
 'LOC100890023',
 'LOC579289',
 'LOC585277',
 'LOC575094',
 'LOC581926',
 'LOC594236',
 'LOC576704',
 'LOC100891706',
 'LOC591190',
 'LOC115929738',
 'LOC591448',
 'LOC100892077',
 'LOC577909',
 'LOC586488',
 'LOC591914',
 'LOC763187',
 'LOC584514',
 'LOC100889515',
 'LOC589875',
 'LOC575831',
 'LOC593601',
 'LOC100891707',
 'LOC579712',
 'LOC574782',
 'LOC100892670',
 'LOC584551',
 'LOC755499',
 'LOC580462',
 'LOC105437450',
 'LOC593589',
 'LOC576983',
 'LOC754634',
 'LOC579416',
 'LOC115926126',
 'LOC574892',
 'LOC581439',
 'LOC580246',
 'LOC100890536',
 'LOC762801',
 'LOC105438652',
 'LOC577037',
 'LOC577626',
 'LOC577755',
 'LOC763427',
 'LOC577316',
 'LOC762375',
 'LOC575196',
 'LOC588997',
 'LOC577629',
 'LOC592464',
 'LOC586665',
 'LOC580653',
 'LOC581539',
 'LOC100893745',
 'LOC580355',
 'LOC579780',
 'LOC586332',
 'LOC592492',
 'LOC580674',
 'LOC100889253',
 'LOC588169',
 'LOC592055',
 'LOC575829',
 'LOC100889506',
 'LOC105438146',
 'LOC100890426',
 'LOC580856',
 'LOC580517',
 'LOC575999',
 'LOC577193',
 'LOC584368',
 'LOC580991',
 'LOC105441647',
 'LOC578597',
 'LOC105441787',
 'LOC583524',
 'LOC100888046',
 'LOC581546',
 'LOC397068',
 'LOC578304',
 'LOC105446077',
 'LOC585092',
 'LOC100892981',
 'LOC584098',
 'LOC591201',
 'LOC755431',
 'LOC580703',
 'LOC115927502',
 'LOC575558',
 'LOC592919',
 'LOC579182',
 'LOC577995',
 'LOC593809',
 'LOC585491',
 'LOC100893061',
 'LOC100890044',
 'LOC585096',
 'LOC580381',
 'LOC588134',
 'LOC105445042',
 'LOC580804',
 'LOC105444850',
 'LOC582521',
 'LOC580818',
 'LOC589120',
 'LOC589744',
 'LOC574743',
 'LOC576943',
 'LOC576505',
 'LOC581761',
 'LOC578834',
 'LOC763684',
 'LOC593157',
 'LOC100890275',
 'LOC582488',
 'LOC105438416',
 'LOC100890776',
 'LOC580902',
 'LOC755141',
 'LOC579837',
 'LOC583086',
 'LOC115918175',
 'LOC755612',
 'LOC105440151',
 'LOC100890236',
 'LOC105443206',
 'LOC591247',
 'LOC100889845',
 'LOC587687',
 'LOC578673',
 'LOC578485',
 'LOC762780',
 'LOC581568',
 'LOC105444100',
 'LOC574791',
 'LOC579053',
 'LOC105436617',
 'LOC587456',
 'LOC100889596',
 'LOC577801',
 'LOC587107',
 'LOC763563',
 'LOC115929911',
 'LOC100889017',
 'LOC587010',
 'LOC580010',
 'LOC581503',
 'LOC578247',
 'LOC590908',
 'LOC754353',
 'LOC580694',
 'LOC100891124',
 'LOC100889313',
 'LOC115922235',
 'LOC100887881',
 'LOC752031',
 'LOC105444109',
 'LOC582032',
 'LOC100893465',
 'LOC582361',
 'LOC105440739',
 'LOC586531',
 'LOC577301',
 'LOC581823',
 'LOC580090',
 'LOC105436828',
 'LOC105437209',
 'LOC593286',
 'LOC585628',
 'LOC373182',
 'LOC577924',
 'LOC580579',
 'LOC582310',
 'LOC115922948',
 'LOC583176',
 'LOC592189',
 'LOC105444860',
 'LOC576797',
 'LOC115920157',
 'LOC579389',
 'LOC575561',
 'LOC115919856',
 'LOC574611',
 'LOC105437164',
 'LOC575180',
 'LOC580494',
 'LOC764891',
 'LOC577171',
 'LOC100888667',
 'LOC592585',
 'LOC586523',
 'LOC105439057',
 'LOC582056',
 'LOC579112',
 'LOC579132',
 'LOC105438852',
 'LOC583473',
 'LOC582140',
 'LOC752806',
 'LOC585202',
 'LOC754797',
 'LOC764505',
 'LOC105437610',
 'LOC580824',
 'LOC373200',
 'LOC115929616',
 'LOC764874',
 'LOC100893074',
 'LOC576824',
 'LOC583996',
 'LOC586838',
 'LOC100893967',
 'LOC100889386',
 'LOC100887925',
 'LOC115919355',
 'LOC586105',
 'LOC115918427',
 'LOC100890051',
 'LOC100887875',
 'LOC575602',
 'LOC100888902',
 'LOC100893051',
 'LOC576365',
 'LOC592705',
 'LOC592342',
 'LOC764194',
 'LOC574629',
 'LOC100894079',
 'LOC577417',
 'LOC590418',
 'LOC575373',
 'LOC100891668',
 'LOC100888574',
 'LOC105442979',
 'LOC105436674',
 'LOC580263',
 'LOC755833',
 'LOC587199',
 'LOC576783',
 'LOC373178',
 'LOC586721',
 'LOC414054',
 'LOC588190',
 'LOC579469',
 'LOC105436978',
 'LOC579784',
 'LOC105446097',
 'LOC586938',
 'LOC100889866',
 'LOC115929607',
 'LOC577702',
 'LOC589864',
 'LOC100889828',
 'LOC581873',
 'LOC756234',
 'LOC763730',
 'LOC105445960',
 'LOC756647',
 'LOC752300',
 'LOC115917893',
 'LOC580383',
 'LOC100889859',
 'LOC764715',
 'LOC754582',
 'LOC115919774',
 'LOC589053',
 'LOC100888461',
 'LOC100890274',
 'LOC100894146',
 'LOC115918318',
 'LOC105441943',
 'LOC585959',
 'LOC587672',
 'LOC587864',
 'LOC585848',
 'LOC578181',
 'LOC755699',
 'LOC578083',
 'LOC100890625',
 'LOC593769',
 'LOC100888361',
 'LOC100891867',
 'LOC584788',
 'LOC100888632',
 'LOC594565',
 'LOC100891748',
 'LOC578960',
 'LOC100890679',
 'LOC100893224',
 'LOC590092',
 'LOC582116',
 'LOC583848',
 'LOC100890286',
 'LOC100891657',
 'LOC580883',
 'LOC105443939',
 'LOC575887',
 'LOC115927087',
 'LOC100890930',
 'LOC115925506',
 'LOC100893962',
 'LOC579274',
 'LOC378470',
 'LOC580049',
 'LOC580086',
 'LOC583334',
 'LOC591243',
 'LOC115929764',
 'LOC592814',
 'LOC100894039',
 'LOC580181',
 'LOC575072',
 'LOC100890609',
 'LOC100892657',
 'LOC584518',
 'LOC584303',
 'LOC100889099',
 'LOC100890574',
 'LOC577098',
 'LOC583832',
 'LOC100893429',
 'LOC100888210',
 'LOC580777',
 'LOC115927899',
 'LOC594726',
 'LOC584681',
 'LOC100890539',
 'LOC585408',
 'LOC584038',
 'LOC100890029',
 'LOC100888294',
 'LOC100888534',
 'LOC591026',
 'LOC373524',
 'LOC587404',
 'LOC579579',
 'LOC581006',
 'LOC576450',
 'LOC100888295',
 'LOC100893810',
 'LOC579411',
 'LOC100893467',
 'LOC575673',
 'LOC100892534',
 'LOC589201',
 'LOC584940',
 'LOC763532',
 'LOC580994',
 'LOC752325',
 'LOC577634',
 'LOC584718',
 'LOC588497',
 'LOC589579',
 'LOC764044',
 'LOC105437126',
 'LOC576717',
 'LOC588183',
 'LOC105438491',
 'LOC578345',
 'LOC593971',
 'LOC577272',
 'LOC577567',
 'LOC100889994',
 'LOC593238',
 'LOC577443',
 'LOC115917881',
 'LOC100891710',
 'LOC582643',
 'LOC577156',
 'LOC592682',
 'LOC586173',
 'LOC115920164',
 'LOC100893739',
 'LOC575010',
 'LOC100888493',
 'LOC576711',
 'LOC576911',
 'LOC586471',
 'LOC105440182',
 'LOC585798',
 'LOC594829',
 'LOC586083',
 'LOC754774',
 'LOC105441736',
 'LOC592209',
 'LOC578824',
 'LOC763326',
 'LOC756696',
 'LOC583936',
 'LOC763680',
 'LOC588126',
 'LOC115926475',
 'LOC587255',
 'LOC115924742',
 'LOC578586',
 'LOC755522',
 'LOC763114',
 'LOC579510',
 'LOC590488',
 'LOC590455',
 'LOC764487',
 'LOC590226',
 'LOC105445026',
 'LOC100894098',
 'LOC585805',
 'LOC581041',
 'LOC100893839',
 'LOC575102',
 'LOC580388',
 'LOC586909',
 'LOC100893701',
 'LOC100889094',
 'LOC587396',
 'LOC105446366',
 'LOC100891014',
 'LOC582557',
 'LOC100890329',
 'LOC582192',
 'LOC580304',
 'LOC590369',
 'LOC580984',
 'LOC593191',
 'LOC591154',
 'LOC105439745',
 'LOC589799',
 'LOC580152',
 'LOC100893601',
 'LOC591807',
 'LOC593225',
 'LOC581163',
 'LOC581763',
 'LOC581393',
 'LOC587798',
 'LOC373241',
 'LOC105439056',
 'LOC583506',
 'LOC100891375',
 'LOC574589',
 'LOC585164',
 'LOC589769',
 'LOC583929',
 'LOC576535',
 'LOC589354',
 'LOC576169',
 'LOC587910',
 'LOC100893334',
 'LOC100889363',
 'LOC592432',
 'LOC100892870',
 'LOC100888159',
 'LOC105447203',
 'LOC578295',
 'LOC756624',
 'LOC581154',
 'LOC100890824',
 'LOC576102',
 'LOC584274',
 'LOC100892905',
 'LOC100890367',
 'LOC593427',
 'LOC100888006',
 'LOC593885',
 'LOC577137',
 'LOC754554',
 'LOC100892024',
 'LOC575431',
 'LOC105443840',
 'LOC105445134',
 'LOC581667',
 'LOC115921849',
 'LOC757189',
 'LOC115929631',
 'LOC576617',
 'LOC591166',
 'LOC100890677',
 'LOC583722',
 'LOC100891808',
 'LOC586410',
 'LOC579914',
 'LOC590195',
 'LOC575022',
 'LOC100890615',
 'LOC105440766',
 'LOC583872',
 'LOC756540',
 'LOC100889178',
 'LOC581605',
 'LOC579243',
 'LOC100888258',
 'LOC100889092',
 'LOC587451',
 'LOC100888109',
 'LOC589927',
 'LOC115925851',
 'LOC115920214',
 'LOC756550',
 'LOC100889821',
 'LOC100890558',
 'LOC593924',
 'LOC574673',
 'LOC577286',
 'LOC577102',
 'LOC100893160',
 'LOC579946',
 'LOC589644',
 'LOC100889010',
 'LOC581930',
 'LOC575858',
 'LOC576953',
 'LOC115919090',
 'LOC575643',
 'LOC100892687',
 'LOC592490',
 'LOC105436540',
 'LOC752367',
 'LOC585395',
 'LOC752246',
 'LOC576048',
 'LOC578150',
 'LOC589130',
 'LOC594807',
 'LOC575206',
 'LOC100892401',
 'LOC589496',
 'LOC581609',
 'LOC100889246',
 'LOC100891059',
 'LOC578590',
 'LOC764755',
 'LOC100888702',
 'LOC105442235',
 'LOC584097',
 'LOC591003',
 'LOC115929676',
 'LOC587014',
 'LOC100893280',
 'LOC592346',
 'LOC575381',
 'LOC105440970',
 'LOC100894103',
 'LOC582167',
 'LOC100893139',
 'LOC373287',
 'LOC105436450',
 'LOC105440161',
 'LOC582058',
 'LOC591109',
 'LOC100891591',
 'LOC100888387',
 'LOC575148',
 'LOC105446106',
 'LOC577395',
 'LOC100893515',
 'LOC582052',
 'LOC100888242',
 'LOC577668',
 'LOC763050',
 'LOC576448',
 'LOC580710',
 'LOC100892002',
 'LOC583980',
 'LOC593111',
 'LOC589658',
 'LOC583252',
 'LOC100889636',
 'LOC585223',
 'LOC575146',
 'LOC579722',
 'LOC582291',
 'LOC100893600',
 'LOC754777',
 'LOC105439231',
 'LOC575472',
 'LOC577780',
 'LOC578509',
 'LOC100890874',
 'LOC580747',
 'LOC577688',
 'LOC583206',
 'LOC590007',
 'LOC576982',
 'LOC105444326',
 'LOC100888362',
 'LOC584296',
 'LOC576914',
 'LOC762514',
 'LOC755988',
 'LOC594646',
 'LOC105445959',
 'LOC591618',
 'LOC591372',
 'LOC105445886',
 'LOC574894',
 'LOC580854',
 'LOC762418',
 'LOC100891791',
 'LOC583616',
 'LOC578774',
 'LOC583108',
 'LOC373363',
 'LOC100890586',
 'LOC584014',
 'LOC579490',
 'LOC115927263',
 'LOC589264',
 'LOC586731',
 'LOC578227',
 'LOC586547',
 'LOC577121',
 'LOC105444816',
 'LOC582903',
 'LOC755287',
 'LOC754028',
 'LOC100891447',
 'LOC105443908',
 'LOC100892714',
 'LOC577957',
 'LOC100891399',
 'LOC105439145',
 'LOC585896',
 'LOC100891054',
 'LOC594750',
 'LOC582635',
 'LOC578767',
 'LOC100889521',
 'LOC100893314',
 'LOC105443889',
 'LOC588105',
 'LOC586036',
 'LOC100888814',
 'LOC576939',
 'LOC579423',
 'LOC582206',
 'LOC578141',
 'LOC583396',
 'LOC100893136',
 'LOC100890383',
 'LOC581833',
 'LOC762451',
 'LOC580566',
 'LOC757011',
 'LOC105445399',
 'LOC577783',
 'LOC100890668',
 'LOC582114',
 'LOC582112',
 'LOC591161',
 'LOC100890076',
 'LOC100894143',
 'LOC100892428',
 'LOC577428',
 'LOC105447140',
 'LOC752237',
 'LOC575625',
 'LOC587030',
 'LOC575370',
 'LOC100888699',
 'LOC580173',
 'LOC589758',
 'LOC586737',
 'LOC100888466',
 'LOC589737',
 'LOC581284',
 'LOC587591',
 'LOC578737',
 'LOC576221',
 'LOC115929932',
 'LOC581723',
 'LOC105436999',
 'LOC580452',
 'LOC579021',
 'LOC100891396',
 'LOC581686',
 'LOC752867',
 'LOC590679',
 'LOC588358',
 'LOC589021',
 'LOC590854',
 'LOC581018',
 'LOC578457',
 'LOC583469',
 'LOC373316',
 'LOC105439711',
 'LOC576034',
 'LOC763505',
 'LOC584369',
 'LOC763009',
 'LOC100889512',
 'LOC763805',
 'LOC115919459',
 'LOC589156',
 'LOC592747',
 'LOC579944',
 'LOC576399',
 'LOC578429',
 'LOC582641',
 'LOC100890449',
 'LOC100891941',
 'LOC584790',
 'LOC580472',
 'LOC575025',
 'LOC590672',
 'LOC763325',
 'LOC580684',
 'LOC586779',
 'LOC115918356',
 'LOC100892317',
 'LOC100893463',
 'LOC100892920',
 'LOC578044',
 'LOC590861',
 'LOC105442777',
 'LOC100891820',
 'LOC100891646',
 'LOC100892041',
 'LOC100889942',
 'LOC754213',
 'LOC591844',
 'LOC589106',
 'LOC576394',
 'LOC756628',
 'LOC579661',
 'LOC582578',
 'LOC752951',
 'LOC100891456',
 'LOC582857',
 'LOC105440851',
 'LOC115929614',
 'LOC752227',
 'LOC763355',
 'LOC579609',
 'LOC100892761',
 'LOC586687',
 'LOC100891566',
 'LOC100893707',
 'LOC582837',
 'LOC100893885',
 'LOC575483',
 'LOC105444466',
 'LOC764665',
 'LOC100890113',
 'LOC373228',
 'LOC577823',
 'LOC100891417',
 'LOC105438000',
 'LOC100890886',
 'LOC576654',
 'LOC591779',
 'LOC100890651',
 'LOC576645',
 'LOC588536',
 'LOC578628',
 'LOC100892350',
 'LOC589151',
 'LOC589708',
 'LOC105438134',
 'LOC584660',
 'LOC575819',
 'LOC578115',
 'LOC594488',
 'LOC580600',
 'LOC576882',
 'LOC115929347',
 'LOC589395',
 'LOC579069',
 'LOC590507',
 'LOC594620',
 'LOC577039',
 'LOC100892105',
 'LOC105440894',
 'LOC548625',
 'LOC115925342',
 'LOC100893604',
 'LOC583670',
 'LOC753109',
 'LOC579367',
 'LOC577598',
 'LOC105436985',
 'LOC583353',
 'LOC115929081',
 'LOC100888221',
 'LOC115928086',
 'LOC586120',
 'LOC578026',
 'LOC105441791',
 'LOC577423',
 'LOC105439181',
 'LOC593847',
 'LOC593587',
 'LOC100890784',
 'LOC593397',
 'LOC591940',
 'LOC752636',
 'LOC590907',
 'LOC105441737',
 'LOC100890478',
 'LOC754661',
 'LOC115919017',
 'LOC592718',
 'LOC100889171',
 'LOC100888724',
 'LOC588089',
 'LOC576114',
 'LOC580666',
 'LOC594592',
 'LOC576124',
 'LOC105441205',
 'LOC576500',
 'LOC577465',
 'LOC762747',
 'LOC580668',
 'LOC586739',
 'LOC752999',
 'LOC585636',
 'LOC763378',
 'LOC581083',
 'LOC100889733',
 'LOC577224',
 'LOC581884',
 'LOC594516',
 ...}

In [559]:
len(comb_set.intersection(alt_genes))

128

In [529]:
comb_set.intersection(alt_genes)

{'LOC100890645',
 'LOC100892375',
 'LOC100893839',
 'LOC576535',
 'LOC576799',
 'LOC577426',
 'LOC577766',
 'LOC581625',
 'LOC581867',
 'LOC585260',
 'LOC585636',
 'LOC587946',
 'LOC588089',
 'LOC589006',
 'LOC591691',
 'LOC591914',
 'LOC756958'}

In [546]:
new_df[new_df['gene']=="LOC756958"]

                 chr       gene     hol      pos
6238  NW_022145610.1  LOC756958  intron  3918069

In [505]:
prom_df[prom_df['gene']=="LOC575445"]

                chr       gene             hol         pos
485  NW_022145598.1  LOC575445  protein_coding  20730134.0

In [228]:
from random import choice


choice(list(comb_set.intersection(alt_genes)))

'LOC587946'

## let's check for my old list (what i wanted to get probes for)

In [229]:
erd = pd.read_csv('my_old_list.csv', header=None, names=["chr","start","stop","hol"])

In [230]:
erd

                chr       start        stop        hol
0        Chromosome       Start         End       Gene
1    NW_022145611.1  20239836.0  20262988.0        Otx
2    NW_022145613.1  19666380.0  19695392.0  B-catenin
3    NW_022145607.1  33413785.0  33447745.0     Blimp1
4    NW_022145595.1   3234303.0   3240831.0       Wnt8
..              ...         ...         ...        ...
125             NaN         NaN         NaN        NaN
126             NaN         NaN         NaN        NaN
127             NaN         NaN         NaN        NaN
128             NaN         NaN         NaN        NaN
129             NaN         NaN         NaN        NaN

[130 rows x 4 columns]

In [231]:
erd.drop([0], inplace = True)

In [232]:
erd=erd.dropna()

In [233]:
erd["start"]=erd.start.astype(float)
erd["stop"]=erd.stop.astype(float)

<ipython-input-233-fc4b1870e431>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  erd["start"]=erd.start.astype(float)
<ipython-input-233-fc4b1870e431>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  erd["stop"]=erd.stop.astype(float)

In [234]:
erd["hol"].iloc[0]

'Otx'

In [235]:
erd_check=pd.DataFrame()
for index, row in loci.iterrows():
    ch = row[0].split("_")[:2]
    ch = "_".join(ch)
    pos = int(row[0].split("_")[2])
    fst = row[1]
    temp= erd[(erd['chr']==ch) & (erd['start']<=pos) & (erd['stop']>=pos)]
    if len(temp) > 0:
        erd_check = erd_check.append({'chr' : ch, 'pos' : pos, 'hol' : temp["hol"].iloc[0], "fst" : fst},ignore_index = True)

In [70]:
erd_check.sort_values(by=["hol"])

               chr     fst                     hol         pos
12  NW_022145615.1  0.1179              ATPsythase  31275084.0
31  NW_022145603.1  0.1058                    Alx1  14678986.0
30  NW_022145603.1  0.1059                    Alx1  14662026.0
26  NW_022145603.1  0.1083                    Alx1  14694778.0
8   NW_022145613.1  0.1216               B-catenin  19685318.0
0   NW_022145596.1  0.1602                   CA10L  30320957.0
43  NW_022145596.1  0.1013                   CA10L  30331129.0
18  NW_022145596.1  0.1127                   CA10L  30330987.0
34  NW_022145599.1  0.1049                   CD109   3635077.0
46  NW_022145597.1  0.1006              COLP3alpha  20094418.0
40  NW_022145597.1  0.1020              COLP3alpha  20094442.0
47  NW_022145597.1  0.1006              COLP3alpha  20080205.0
48  NW_022145597.1  0.1001              COLP3alpha  20071223.0
45  NW_022145613.1  0.1010                Cara14la  27358332.0
38  NW_022145605.1  0.1024                 Cara7la   5712045.0
11  NW_022145605.1  0.1181                 Cara7la   5721058.0
41  NW_022145605.1  0.1018                 Cara7la   5709506.0
27  NW_022145605.1  0.1070                 Cara7la   5727140.0
25  NW_022145605.1  0.1084                 Cara7la   5722898.0
44  NW_022145614.1  0.1010                 Cara8LB   5781742.0
21  NW_022145594.1  0.1101                    Ets1  41420756.0
22  NW_022145594.1  0.1100                    NCAM  19199989.0
1   NW_022145596.1  0.1561                 Vegfr10    627088.0
15  NW_022145596.1  0.1149                 Vegfr10    669637.0
35  NW_022145596.1  0.1042                 Vegfr10    670140.0
7   NW_022145596.1  0.1250                 Vegfr10    639916.0
33  NW_022145595.1  0.1056                    Wnt8   3240002.0
4   NW_022145612.1  0.1292         calcium-sensing  12985454.0
9   NW_022145597.1  0.1184          cholinesterase  14505911.0
36  NW_022145602.1  0.1031                collagen   4993850.0
32  NW_022145610.1  0.1057          collagen alpha  17756514.0
6   NW_022145610.1  0.1268          collagen alpha  17732555.0
2   NW_022145613.1  0.1509  collagen-type XV/XVIII   4223297.0
20  NW_022145603.1  0.1104                ferritin   5925928.0
24  NW_022145612.1  0.1086             fibrillin-2  20737281.0
19  NW_022145612.1  0.1126             fibrillin-2  20782055.0
17  NW_022145612.1  0.1139             fibrillin-2  20750669.0
16  NW_022145612.1  0.1143             fibrillin-2  20766314.0
5   NW_022145612.1  0.1278             fibrillin-2  20741452.0
10  NW_022145614.1  0.1181         golgi precursor  14538562.0
29  NW_022145602.1  0.1060                   nell1  20764925.0
39  NW_022145596.1  0.1021                     p19  30282433.0
14  NW_022145603.1  0.1154               rendezvin  13356234.0
28  NW_022145602.1  0.1070                    sm30    160017.0
13  NW_022145602.1  0.1177                    sm30    160379.0
37  NW_022145594.1  0.1031                    sst3  28920879.0
23  NW_022145594.1  0.1093                    sst3  28920847.0
42  NW_022145594.1  0.1017                    sst3  28920844.0
3   NW_022145606.1  0.1319          thrombospondin  21959397.0

In [236]:
cdf = new_df.merge(erd_check, on=["chr","pos"])

In [237]:
cdf=cdf.sort_values(by=["hol_y"])

In [238]:
len(cdf)

49

In [239]:
int_check["pos"]=int_check.pos.astype(int)

In [240]:
int_check

                chr          gene   hol       pos
0    NW_022145601.1  LOC100894079   lnc  22606114
1    NW_022145612.1     LOC579367   lnc  41191507
2    NW_022145614.1  LOC105444100   lnc  20905720
3    NW_022145610.1  LOC105444622   lnc   1523941
4    NW_022145543.1  LOC115917929   lnc    956594
..              ...           ...   ...       ...
125  NW_022145612.1     LOC762981   lnc   5104468
126  NW_022145598.1  LOC105444132   lnc  17378166
127  NW_022145576.1  LOC100891941   lnc   2132339
128  NW_022145612.1     LOC580713  lvar  14929793
129  NW_022145605.1  LOC100893229   lnc  22327453

[130 rows x 4 columns]

In [80]:
check = int_check.merge(cdf, on=["chr","pos"])

In [81]:
check

Empty DataFrame
Columns: [chr, gene_x, hol, pos, gene_y, hol_x, fst, hol_y]
Index: []

# Go terms

In [83]:
new_df.hol.unique()

array(['not_annot', 'exon', "3'UTR", 'intron', 'genes_overlap',
       'alternative UTR', "5'UTR", 'pseudogene'], dtype=object)

In [84]:
for_go =new_df[(new_df["hol"]=="exon") | (new_df["hol"]=="3'UTR") | (new_df["hol"]=="intron") | (new_df["hol"]=="5'UTR")]

In [106]:
for_go.to_csv("loci_for_go.csv",index=False)

In [85]:
genes=for_go.gene.to_numpy()

In [112]:
with open("SPU_LOC_conv.txt") as f:
    mapping = list(map(lambda x: x.strip().split("\t")[:2],f.readlines()))
    print(mapping[0])
    mapping = {key:val for val,key in mapping[1:]}

['protein_external_id', 'preferred_name']

In [123]:
alt_gene=[]
for gene in genes:
    if gene in mapping.keys():
        alt = mapping[gene]
        x = alt.split(".")
        y = x[1].split("-")
        alt_gene.append(y[0])

In [135]:
np.savetxt("for_go_spus.csv", alt_gene, delimiter=',', fmt="%s")

In [138]:
len(np.unique(alt_gene))

980