In [1]:
import pandas as pd
from collections import Counter
from matplotlib import pyplot
import numpy as np

In [80]:
df = pd.read_csv('all_annotations.txt', sep="\t", header=None, names=["chr","source","type","start","stop","s1","s2","s3","info"])

In [81]:
df.drop(df[df['type'] == "region"].index, inplace = True)

In [82]:
df.type.unique()

array(['gene', 'mRNA', 'exon', 'CDS', 'snRNA', 'pseudogene', 'cDNA_match',
       'tRNA', 'lnc_RNA', 'transcript', 'snoRNA', 'rRNA',
       'primary_transcript', 'miRNA', 'sequence_feature', 'tandem_repeat',
       'promoter'], dtype=object)

In [34]:
loci = pd.read_csv('top_goodhe_01', header=None, names=["chr","fst"])

In [45]:
loci

                          chr     fst
0       NW_022145599.1_809765  0.2058
1     NW_022145613.1_22684111  0.1950
2     NW_022145600.1_36849648  0.1883
3     NW_022145612.1_13121687  0.1882
4     NW_022145595.1_20882520  0.1873
...                       ...     ...
6842  NW_022145597.1_27269202  0.1000
6843  NW_022145597.1_25996126  0.1000
6844  NW_022145596.1_12214610  0.1000
6845   NW_022145595.1_3170334  0.1000
6846  NW_022145595.1_16380245  0.1000

[6847 rows x 2 columns]

In [35]:
#t=loci.chr.to_numpy()
#chrs=[i.split("_")[:2] for i in t ]
#chrs =["_".join(i) for i in chrs]
#pos=[i.split("_")[2] for i in t ]
#fixed_loci = pd.DataFrame(list(zip(chrs, pos)), columns =['chr', 'pos'])
#np.savetxt("fixed_loci.csv", t, delimiter=',', fmt="%s")

#---------------------------------------

In [7]:
new_df=pd.DataFrame()
for index, row in loci.iterrows():
    ch = row[0].split("_")[:2]
    ch = "_".join(ch)
    pos = int(row[0].split("_")[2])
    temp=df[(df['chr']==ch) & (df['start']<=pos) & (df['stop']>=pos)]
    if len(temp) == 0:
        #print("not in annotation")
        new_df = new_df.append({'chr' : ch, 'pos' : pos, 'hol' : "not_annot", "gene" : "NA"},  
                        ignore_index = True) 
    if len(temp) == 1:
        print("only one")
        print(temp['type'])
    if len(temp) > 1:
        #print("more than 1")
        #checking for gene overlap
        ids=[]
        for i in range(len(temp)):
            t=temp["info"].iloc[i].split(";")
            res = list(filter(lambda x: "LOC" in x, t))
            if len(res) == 0:
                res = list(filter(lambda x: "GeneID:" in x, t))
                if len(res) != 0:
                    ID = res[0].split("GeneID:",1)[1]
                    ids.append(ID)
            else:
                ID =res[0].split("LOC",1)[1]
                ids.append(ID)
        uni=len(Counter(ids))
        gene_name = ids[0]
        if uni > 1:
            #print("genes overlap")
            new_df = new_df.append({'chr' : ch, 'pos' : pos, 'hol' : "genes_overlap", "gene": "NA"},  
                        ignore_index = True) 
        
        if uni == 1:
            if temp['type'].str.contains('gene').any():
                if temp['type'].str.contains('pseudogene').any():
                    new_df = new_df.append({'chr' : ch, 'pos' : pos, 'hol' : "pseudogene", "gene":"NA" },ignore_index = True)
                else:
                    if temp['type'].str.contains('exon').any(): 
                        if temp['type'].str.contains('CDS').any():
                            #print("in exon")
                            new_df = new_df.append({'chr' : ch, 'pos' : pos, 'hol' : "exon", "gene":f"LOC{ids[0]}" },ignore_index = True) 
                        else:
                            direction=temp['s2'].iloc[0]
                            e_start=temp[temp["type"]=="exon"].iloc[0].start
                            e_stop=temp[temp["type"]=="exon"].iloc[0].stop
                            g_start=temp[temp["type"]=="gene"].iloc[0].start
                            g_stop=temp[temp["type"]=="gene"].iloc[0].stop
                            if direction == "+":
                                if e_start == g_start:
                                    #print('5prime1')
                                    new_df = new_df.append({'chr' : ch, 'pos' : pos, 'hol' : "5'UTR", "gene":f"LOC{ids[0]}" },ignore_index = True) 
                                elif e_stop == g_stop:
                                    #print("3prime1")
                                    new_df = new_df.append({'chr' : ch, 'pos' : pos, 'hol' : "3'UTR", "gene":f"LOC{ids[0]}" },ignore_index = True) 
                                else:
                                    print("ERROR1") #alternative UTR?
                                    #print(temp)
                                    new_df = new_df.append({'chr' : ch, 'pos' : pos, 'hol' : "alternative UTR", "gene":"NA" },ignore_index = True) 
                            elif direction == "-":
                                if e_start == g_start:
                                    #print('3prime2')
                                    new_df = new_df.append({'chr' : ch, 'pos' : pos, 'hol' : "3'UTR", "gene":f"LOC{ids[0]}" },ignore_index = True) 
                                elif e_stop == g_stop:
                                    #print("5prime2")
                                    new_df = new_df.append({'chr' : ch, 'pos' : pos, 'hol' : "5'UTR", "gene":f"LOC{ids[0]}" },ignore_index = True)
                                else:
                                    print("ERROR2")
                                    new_df = new_df.append({'chr' : ch, 'pos' : pos, 'hol' : "alternative UTR", "gene":"NA" },ignore_index = True) 
                            else:
                                print("ERROR3")
                                #print(temp)

                    else:
                        #print("in intron")
                        new_df = new_df.append({'chr' : ch, 'pos' : pos, 'hol' : "intron", "gene":f"LOC{ids[0]}" },ignore_index = True) 

            else:
                print("not gene")

ERROR1

KeyboardInterrupt:

In [10]:
new_df.pos = new_df.pos.astype(int)

In [12]:
new_df.to_csv("annotated_top_goodhe_01.csv",index=False)

#------------------------------------------------

In [7]:
new_df = pd.read_csv('annotated_top_goodhe_01.csv', sep=",")

In [8]:
new_df

                 chr       gene              hol       pos
0     NW_022145599.1        NaN        not_annot    809765
1     NW_022145613.1        NaN        not_annot  22684111
2     NW_022145600.1        NaN        not_annot  36849648
3     NW_022145612.1        NaN        not_annot  13121687
4     NW_022145595.1        NaN        not_annot  20882520
...              ...        ...              ...       ...
6842  NW_022145597.1        NaN        not_annot  27269202
6843  NW_022145597.1        NaN        not_annot  25996126
6844  NW_022145596.1        NaN  alternative UTR  12214610
6845  NW_022145595.1        NaN        not_annot   3170334
6846  NW_022145595.1  LOC582877           intron  16380245

[6847 rows x 4 columns]

In [9]:
len(new_df[new_df["hol"]=="pseudogene"])

2

In [10]:
new_df.hol.unique()

array(['not_annot', 'exon', "3'UTR", 'intron', 'genes_overlap',
       'alternative UTR', "5'UTR", 'pseudogene'], dtype=object)

## now let's see if there is any in enhancer, outside of intron

are intronic ones located in:
    1 ATAC
    2 lvar
    3 chip 
    4 lnc
    5 promoter
    6 TFBS

In [78]:
promoters = pd.read_csv('all_annotations.txt', sep="\t", header=None, names=["chr","source","type","start","stop","s1","s2","s3","info"])
promoters = promoters[promoters['type']=="gene"]

promoters.loc[(promoters["type"]=="gene") & (promoters["s2"]=="+"), "start"] -= 1000
promoters.loc[(promoters["type"]=="gene") & (promoters["s2"]=="-"), "stop"] += 1000

In [41]:
atac = pd.read_csv("atac_mapped_translatedto5.0.csv", header=None, names=["chr","start","stop"])
chip = pd.read_csv('AlxChip_mapped_translatedto5.0.txt', sep="\t", header=None, names=["chr","start","stop"])
lvar = pd.read_csv('lvar_spur_48_50_mapped_translatedto50.csv', header=None, names=["chr","start","stop"])
lnc = pd.read_csv("lncRNA_mapped_translatedto5.0.csv", header=1, names=["chr","start","stop"])

In [75]:
mis = new_df[new_df['hol']=="not_annot"]

In [43]:
enh_check=pd.DataFrame()
for index, row in mis.iterrows():
    ch = row.chr
    pos = row.pos
    temp=atac[(atac['chr']==ch) & (atac['start']<=pos) & (atac['stop']>=pos)]
    if len(temp) > 0:
        print("in atac")
        enh_check = enh_check.append({'chr' : ch, 'pos' : pos, 'hol' : "atac" },ignore_index = True) 
    temp=chip[(chip['chr']==ch) & (chip['start']<=pos) & (chip['stop']>=pos)]
    if len(temp) > 0:
        print("in chip")
        enh_check = enh_check.append({'chr' : ch, 'pos' : pos, 'hol' : "chip" },ignore_index = True)
    temp=lvar[(lvar['chr']==ch) & (lvar['start']<=pos) & (lvar['stop']>=pos)]
    if len(temp) > 0:
        print("in lvar")
        enh_check = enh_check.append({'chr' : ch, 'pos' : pos, 'hol' : "lvar" },ignore_index = True)
    temp=lnc[(lnc['chr']==ch) & (lnc['start']<=pos) & (lnc['stop']>=pos)]
    if len(temp) > 0:
        print("in lnc")
        enh_check = enh_check.append({'chr' : ch, 'pos' : pos, 'hol' : "lnc" },ignore_index = True)
    temp=promoters[(promoters['chr']==ch) & (promoters['start']<=pos) & (promoters['stop']>=pos)]
    if len(temp) > 0:
        print("in promoters")
        enh_check = enh_check.append({'chr' : ch, 'pos' : pos, 'hol' : "promoter" },ignore_index = True)

in promoters
in promoters
in lnc
in promoters
in promoters
in lnc
in lnc
in lvar
in lnc
in promoters
in promoters
in lnc
in lnc
in promoters
in lnc
in lnc
in promoters
in promoters
in lnc
in lnc
in promoters
in lnc
in promoters
in lnc
in promoters
in promoters
in lnc
in promoters
in promoters
in lnc
in lnc
in lnc
in lnc
in promoters
in lnc
in lnc
in lnc
in lnc
in promoters
in lnc
in promoters
in lnc
in lnc
in chip
in lnc
in lnc
in lnc
in lnc
in lvar
in lnc
in promoters
in promoters
in lnc
in lnc
in lnc
in promoters
in promoters
in lnc
in promoters
in lnc
in promoters
in promoters
in lnc
in lnc
in promoters
in promoters
in lnc
in promoters
in promoters
in lnc
in promoters
in promoters
in lnc
in lnc
in lnc
in promoters
in lvar
in lvar
in lnc
in promoters
in lnc
in promoters
in promoters
in lnc
in promoters
in promoters
in lnc
in lnc
in lnc
in promoters
in lnc
in lnc
in lnc
in promoters
in lnc
in lnc
in lnc
in promoters
in lvar
in promoters
in lnc
in lnc
in lnc
in lnc
in chip
in lnc
in promoters
in promoters
in promoters
in lnc
in lnc
in promoters
in lnc
in lnc
in lnc
in promoters
in promoters
in lnc
in promoters
in lvar
in lnc
in promoters
in lnc
in lnc
in lnc
in promoters
in promoters
in promoters
in lnc
in promoters
in lnc
in promoters
in lnc
in promoters
in lnc
in promoters
in lnc
in lnc
in promoters
in promoters
in chip
in promoters
in lnc
in lnc
in lnc
in lnc
in promoters
in promoters
in lnc
in lnc
in lnc
in lnc
in promoters
in lnc
in promoters
in lnc
in promoters
in promoters
in lnc
in lnc
in promoters
in promoters
in promoters
in promoters
in promoters
in lnc
in lvar
in promoters
in promoters
in lnc
in lnc
in promoters
in lnc
in lnc
in promoters
in chip
in promoters
in promoters
in lnc
in lnc
in promoters
in lnc
in lnc
in lnc
in promoters
in promoters
in lnc
in promoters
in lnc
in lnc
in promoters
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in promoters
in chip
in chip
in lnc
in promoters
in lnc
in promoters
in promoters
in lnc
in promoters
in lnc
in promoters
in promoters
in lnc
in promoters
in lnc
in lnc
in promoters
in lnc
in lnc
in promoters
in lnc
in lnc
in lnc
in lnc
in promoters
in lnc
in chip
in promoters
in promoters
in promoters
in promoters
in promoters
in promoters
in promoters
in lnc
in lnc
in promoters
in lnc
in lnc
in promoters
in lnc
in lnc
in promoters
in lnc
in promoters
in lnc
in promoters
in promoters
in lvar
in chip
in chip
in lnc
in promoters
in lnc
in promoters
in promoters
in promoters
in promoters
in promoters
in promoters
in promoters
in promoters
in lnc
in promoters
in promoters
in promoters
in promoters
in lnc
in lnc
in promoters
in lnc
in lnc
in promoters
in lnc
in lnc
in promoters
in promoters
in lnc
in lnc
in promoters
in lnc
in promoters
in promoters
in lnc
in promoters
in lnc
in lnc
in lnc
in lnc
in promoters
in lnc
in lnc
in promoters
in lnc
in promoters
in lnc
in lnc
in lnc
in promoters
in lnc
in promoters
in lnc
in lnc
in lnc
in lnc
in promoters
in promoters
in promoters
in lnc
in promoters
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in promoters
in lnc
in promoters
in lnc
in promoters
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in promoters
in promoters
in lvar
in lnc
in promoters
in promoters
in lnc
in promoters
in promoters
in lnc
in lnc
in promoters
in lnc
in lnc
in lvar
in promoters
in promoters
in promoters
in lnc
in promoters
in promoters
in lnc
in promoters
in lnc
in promoters
in lnc
in lnc
in lnc
in promoters
in promoters
in lnc
in lnc
in promoters
in lnc
in promoters
in lnc
in lnc
in promoters
in promoters
in lnc
in lnc
in promoters
in promoters
in lnc
in lnc

In [46]:
enh_check.hol.unique()

array(['promoter', 'lnc', 'lvar', 'chip'], dtype=object)

In [51]:
my_promoters = enh_check[enh_check["hol"]=="promoter"]

In [53]:
pot_en = enh_check[(enh_check["hol"]=="lvar") | (enh_check["hol"]=="chip")]

In [54]:
pot_en=pot_en.sort_values(by=["chr",'pos'])

In [55]:
len(pot_en)

19

In [ ]:
#reminder: chosen atac supp (or lvar or chip) too strict?

## now let's see if there is any in enhancer, inside of intron

In [56]:
mis = new_df[new_df['hol']=="intron"]

In [57]:
int_check=pd.DataFrame()
for index, row in mis.iterrows():
    ch = row.chr
    pos = row.pos
    gene=row.gene
    temp=atac[(atac['chr']==ch) & (atac['start']<=pos) & (atac['stop']>=pos)]
    if len(temp) > 0:
        print("in atac")
        int_check = int_check.append({'chr' : ch, 'pos' : pos, 'hol' : "atac",'gene':gene },ignore_index = True) 
    temp=chip[(chip['chr']==ch) & (chip['start']<=pos) & (chip['stop']>=pos)]
    if len(temp) > 0:
        print("in chip")
        int_check = int_check.append({'chr' : ch, 'pos' : pos, 'hol' : "chip",'gene':gene },ignore_index = True)
    temp=lvar[(lvar['chr']==ch) & (lvar['start']<=pos) & (lvar['stop']>=pos)]
    if len(temp) > 0:
        print("in lvar")
        int_check = int_check.append({'chr' : ch, 'pos' : pos, 'hol' : "lvar",'gene':gene },ignore_index = True)
    temp=lnc[(lnc['chr']==ch) & (lnc['start']<=pos) & (lnc['stop']>=pos)]
    if len(temp) > 0:
        print("in lnc")
        int_check = int_check.append({'chr' : ch, 'pos' : pos, 'hol' : "lnc",'gene':gene },ignore_index = True)

in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in chip
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in atac
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in chip
in lnc
in lnc
in chip
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in chip
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lvar
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lvar
in lvar
in lnc
in lnc
in lvar
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lvar
in atac
in lnc
in lnc
in lvar
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lnc
in lvar
in lnc

In [59]:
int_check.hol.unique()

array(['lnc', 'chip', 'atac', 'lvar'], dtype=object)

In [60]:
int_check[int_check["hol"]=="lvar"]

                chr          gene   hol         pos
83   NW_022145604.1     LOC582776  lvar   8855042.0
96   NW_022145600.1     LOC577823  lvar  18662627.0
97   NW_022145612.1     LOC580332  lvar  47720769.0
100  NW_022145610.1  LOC100894087  lvar  35316800.0
114  NW_022145595.1  LOC115921692  lvar  16140373.0
118  NW_022145605.1     LOC588549  lvar  16695182.0
142  NW_022145612.1     LOC580713  lvar  14929793.0

In [61]:
pot_in = int_check[(int_check["hol"]=="lvar") | (int_check["hol"]=="chip") | (int_check["hol"]=="atac")]

In [62]:
pot_in=pot_in.sort_values(by=["chr",'pos'])

In [63]:
int_check

                chr          gene   hol         pos
0    NW_022145603.1     LOC752651   lnc  15709285.0
1    NW_022145601.1  LOC100894079   lnc  22606114.0
2    NW_022145612.1     LOC579367   lnc  41191507.0
3    NW_022145614.1  LOC105444100   lnc  20905720.0
4    NW_022145610.1  LOC105444622   lnc   1523941.0
..              ...           ...   ...         ...
139  NW_022145594.1  LOC105441528   lnc   9915090.0
140  NW_022145598.1  LOC105444132   lnc  17378166.0
141  NW_022145576.1  LOC100891941   lnc   2132339.0
142  NW_022145612.1     LOC580713  lvar  14929793.0
143  NW_022145605.1  LOC100893229   lnc  22327453.0

[144 rows x 4 columns]

## let's check for my old list (what i wanted to get probes for)

In [64]:
erd = pd.read_csv('my_old_list.csv', header=None, names=["chr","start","stop","hol"])

In [65]:
erd.drop([0], inplace = True)

In [66]:
erd=erd.dropna()

In [67]:
erd["start"]=erd.start.astype(float)
erd["stop"]=erd.stop.astype(float)

In [68]:
erd["hol"].iloc[0]

'Otx'

In [69]:
erd_check=pd.DataFrame()
for index, row in loci.iterrows():
    ch = row[0].split("_")[:2]
    ch = "_".join(ch)
    pos = int(row[0].split("_")[2])
    fst = row[1]
    temp= erd[(erd['chr']==ch) & (erd['start']<=pos) & (erd['stop']>=pos)]
    if len(temp) > 0:
        erd_check = erd_check.append({'chr' : ch, 'pos' : pos, 'hol' : temp["hol"].iloc[0], "fst" : fst},ignore_index = True)

In [70]:
erd_check.sort_values(by=["hol"])

               chr     fst                     hol         pos
12  NW_022145615.1  0.1179              ATPsythase  31275084.0
31  NW_022145603.1  0.1058                    Alx1  14678986.0
30  NW_022145603.1  0.1059                    Alx1  14662026.0
26  NW_022145603.1  0.1083                    Alx1  14694778.0
8   NW_022145613.1  0.1216               B-catenin  19685318.0
0   NW_022145596.1  0.1602                   CA10L  30320957.0
43  NW_022145596.1  0.1013                   CA10L  30331129.0
18  NW_022145596.1  0.1127                   CA10L  30330987.0
34  NW_022145599.1  0.1049                   CD109   3635077.0
46  NW_022145597.1  0.1006              COLP3alpha  20094418.0
40  NW_022145597.1  0.1020              COLP3alpha  20094442.0
47  NW_022145597.1  0.1006              COLP3alpha  20080205.0
48  NW_022145597.1  0.1001              COLP3alpha  20071223.0
45  NW_022145613.1  0.1010                Cara14la  27358332.0
38  NW_022145605.1  0.1024                 Cara7la   5712045.0
11  NW_022145605.1  0.1181                 Cara7la   5721058.0
41  NW_022145605.1  0.1018                 Cara7la   5709506.0
27  NW_022145605.1  0.1070                 Cara7la   5727140.0
25  NW_022145605.1  0.1084                 Cara7la   5722898.0
44  NW_022145614.1  0.1010                 Cara8LB   5781742.0
21  NW_022145594.1  0.1101                    Ets1  41420756.0
22  NW_022145594.1  0.1100                    NCAM  19199989.0
1   NW_022145596.1  0.1561                 Vegfr10    627088.0
15  NW_022145596.1  0.1149                 Vegfr10    669637.0
35  NW_022145596.1  0.1042                 Vegfr10    670140.0
7   NW_022145596.1  0.1250                 Vegfr10    639916.0
33  NW_022145595.1  0.1056                    Wnt8   3240002.0
4   NW_022145612.1  0.1292         calcium-sensing  12985454.0
9   NW_022145597.1  0.1184          cholinesterase  14505911.0
36  NW_022145602.1  0.1031                collagen   4993850.0
32  NW_022145610.1  0.1057          collagen alpha  17756514.0
6   NW_022145610.1  0.1268          collagen alpha  17732555.0
2   NW_022145613.1  0.1509  collagen-type XV/XVIII   4223297.0
20  NW_022145603.1  0.1104                ferritin   5925928.0
24  NW_022145612.1  0.1086             fibrillin-2  20737281.0
19  NW_022145612.1  0.1126             fibrillin-2  20782055.0
17  NW_022145612.1  0.1139             fibrillin-2  20750669.0
16  NW_022145612.1  0.1143             fibrillin-2  20766314.0
5   NW_022145612.1  0.1278             fibrillin-2  20741452.0
10  NW_022145614.1  0.1181         golgi precursor  14538562.0
29  NW_022145602.1  0.1060                   nell1  20764925.0
39  NW_022145596.1  0.1021                     p19  30282433.0
14  NW_022145603.1  0.1154               rendezvin  13356234.0
28  NW_022145602.1  0.1070                    sm30    160017.0
13  NW_022145602.1  0.1177                    sm30    160379.0
37  NW_022145594.1  0.1031                    sst3  28920879.0
23  NW_022145594.1  0.1093                    sst3  28920847.0
42  NW_022145594.1  0.1017                    sst3  28920844.0
3   NW_022145606.1  0.1319          thrombospondin  21959397.0

In [71]:
cdf = new_df.merge(erd_check, on=["chr","pos"])

In [73]:
cdf=cdf.sort_values(by=["hol_y"])

In [72]:
len(cdf)

49

In [78]:
int_check["pos"]=int_check.pos.astype(int)

In [79]:
int_check

                chr          gene   hol       pos
0    NW_022145603.1     LOC752651   lnc  15709285
1    NW_022145601.1  LOC100894079   lnc  22606114
2    NW_022145612.1     LOC579367   lnc  41191507
3    NW_022145614.1  LOC105444100   lnc  20905720
4    NW_022145610.1  LOC105444622   lnc   1523941
..              ...           ...   ...       ...
139  NW_022145594.1  LOC105441528   lnc   9915090
140  NW_022145598.1  LOC105444132   lnc  17378166
141  NW_022145576.1  LOC100891941   lnc   2132339
142  NW_022145612.1     LOC580713  lvar  14929793
143  NW_022145605.1  LOC100893229   lnc  22327453

[144 rows x 4 columns]

In [80]:
check = int_check.merge(cdf, on=["chr","pos"])

In [81]:
check

Empty DataFrame
Columns: [chr, gene_x, hol, pos, gene_y, hol_x, fst, hol_y]
Index: []

# Go terms

In [83]:
new_df.hol.unique()

array(['not_annot', 'exon', "3'UTR", 'intron', 'genes_overlap',
       'alternative UTR', "5'UTR", 'pseudogene'], dtype=object)

In [84]:
for_go =new_df[(new_df["hol"]=="exon") | (new_df["hol"]=="3'UTR") | (new_df["hol"]=="intron") | (new_df["hol"]=="5'UTR")]

In [106]:
for_go.to_csv("loci_for_go.csv",index=False)

In [85]:
genes=for_go.gene.to_numpy()

In [112]:
with open("SPU_LOC_conv.txt") as f:
    mapping = list(map(lambda x: x.strip().split("\t")[:2],f.readlines()))
    print(mapping[0])
    mapping = {key:val for val,key in mapping[1:]}

['protein_external_id', 'preferred_name']

In [123]:
alt_gene=[]
for gene in genes:
    if gene in mapping.keys():
        alt = mapping[gene]
        x = alt.split(".")
        y = x[1].split("-")
        alt_gene.append(y[0])

In [135]:
np.savetxt("for_go_spus.csv", alt_gene, delimiter=',', fmt="%s")

In [138]:
len(np.unique(alt_gene))

980